.fest-event {
  margin-bottom: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .05);

  @include transition;

  &:hover {
    background: #f6f6f6;
    box-shadow: none;
  }

  &__date {
    margin-right: 12px;
    display: flex;
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(#3ab0c2, .1);
    border-radius: 5px;
  }

  &__date-day {
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    color: $primary;
  }

  &__date-month {
    font-size: 13px;
    line-height: 16px;
    color: $primary;
  }

  &__content {
  }

  &__time {
    font-size: 13px;
    line-height: 16px;
    color: #b4b4b4;
  }

  &__title {
  }

  &--active {
    background: #f6f6f6;
    box-shadow: inset 0 5px 20px rgba(0, 0, 0, .05);
  }

  &--article {
    margin-bottom: 32px;
    padding: 0;
    background: transparent;
    box-shadow: none;

    .fest-event__title {
      margin-bottom: 0 !important;
      font-size: 24px;
      line-height: 1.3;
    }
  }

  &--past {

    .fest-event__date {
      background: #ededed;
    }

    .fest-event__date-day {
      color: #b4b4b4;
    }

    .fest-event__date-month {
      color: #b4b4b4;
    }
  }
}
