mixin fest-event(data)
  a.fest-event(href="#")&attributes(attributes)
    .fest-event__date
      .fest-event__date-day= data.date
      .fest-event__date-month июня
    .fest-event__content
      p.p--sm.mb-10.font-weight-semi.fest-event__title 2 этап. Игра 12
      .fest-event__time с 12:30 до 00:30
