mixin match(data)
  .match&attributes(attributes)
    if data.title
      .match__right.match__right--title !{data.title}
    .row.no-gutters
      if data.video
        .match__left
          +video-link({
            img: `./img/${data.video}`
          }).video-link--xs
          p.p-sm !{data.video_text}
      if data.img
        .match__left.mt-40.mt-md-0.mb-0.order-2.order-md-0
          img(src=`./img/${data.img}` alt="")
          p.p-sm.mt-10 !{data.img_text}
      .match__right
        p !{data.text}
        if block
          block
