.match {
  margin-bottom: 80px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 60px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
  }

  .row {
    width: 100%;
  }

  &__left {
    position: relative;
    z-index: 1;
    padding: 0;
    float: left;
    width: 240px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
      float: none;
      width: 100%;
    }
  }

  &__right {
    margin: 0 0 0 -240px;
    padding: 0 0 0 300px;
    float: left;
    width: 100%;

    @include media-breakpoint-down(sm) {
      margin: 0;
      padding: 0;
      float: none;
      width: 100%;
    }

    &--title {
      margin: 0 0 48px;
      float: none;
      font-family: $font-family-bridge;
      font-size: 36px;
      color: $purple;

      @include media-breakpoint-down(sm) {
        margin: 0 0 32px;
      }

      @include media-breakpoint-down(xs) {
        margin: 0 0 24px;
      }
    }

    span {
      margin-right: 5px;
    }
  }

  &--text-right {

    .match__right.match__right--title {
      margin: 0 0 48px;

      @include media-breakpoint-down(sm) {
        margin: 0 0 32px;
      }

      @include media-breakpoint-down(xs) {
        margin: 0 0 24px;
      }
    }

    .match__right {
      margin: 0;
      float: none;
    }
  }

  &--img-bottom {
    display: flex;

    .match__left {
      display: flex;
      float: none;
      width: 240px;
      flex-direction: column;
      justify-content: flex-end;
      flex-shrink: 0;

      @include media-breakpoint-down(md) {
        width: 200px;
      }

      @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    .match__right {
      margin: 0;
      padding-left: 60px;
      float: none;
      max-width: calc(100% - 240px);
      flex-grow: 1;

      @include media-breakpoint-down(md) {
        padding-left: 40px;
        max-width: calc(100% - 200px);
      }

      @include media-breakpoint-down(sm) {
        padding-left: 0;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
