h1,
.h1 {
  margin-bottom: 0;
  font-family: $font-family-bridge;
  font-size: 80px;
  line-height: 88px;
  font-weight: 400;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: 64px;
    line-height: 72px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 44px;
    line-height: 48px;
  }
}

h2,
.h2 {
  margin-bottom: 0;
  font-family: $font-family-bridge;
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: 32px;
    line-height: 40px;
  }
}

h3,
.h3 {
  margin-bottom: 0;
  font-family: $font-family-bridge;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: 30px;
    line-height: 36px;
  }
}

h4,
.h4 {
  margin-bottom: 0;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -.03em;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: 22px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
  }
}

h5,
.h5 {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 24px;
  }
}

h6 {
}

p,
.p {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -.03em;

  @include media-breakpoint-down(md) {
    font-size: 20px;
    line-height: 32px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 16px;
    line-height: 28px;
  }

  &.p--semi-transparent {
    opacity: .7;
  }
}

.p-md {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -.03em;

  @include media-breakpoint-down(xs) {
    font-size: 16px;
    line-height: 24px;
  }
}

.p--sm {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

ul.p-md {
  padding-left: 1em;
}

ul li,
ol li {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -.03em;

  @include media-breakpoint-down(md) {
    font-size: 20px;
    line-height: 32px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 16px;
    line-height: 28px;
  }
}

.small-upper {
  font-family: $font-family-bridge;
  font-size: 32px;
  line-height: 40px;
  color: #7f457d;

  @include media-breakpoint-down(md) {
    font-size: 28px;
    line-height: 36px;
  }
}

.p-sm {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -.03em;
}

.p-xs {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -.03em;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-semi {
  font-weight: 600 !important;
}

.text-purple {
  color: $purple !important;
}

.text-gray {
  color: $gray !important;
}

.text-gray-dark {
  color: $gray-text !important;
}

.text-hightlight {
  padding: 4px 8px;
  font-weight: 600;
  background-color: rgba(127, 69, 125, .2);
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
