@font-face {
  font-family: 'Bridge Type';
  src: url('../fonts/subset-BridgeType-Regular.woff2') format('woff2'),
    url('../fonts/subset-BridgeType-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/subset-PFBeauSansPro-Regular.woff2') format('woff2'),
    url('../fonts/subset-PFBeauSansPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/subset-PFBeauSansPro-SemiBold.woff2') format('woff2'),
    url('../fonts/subset-PFBeauSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('../fonts/subset-PFBeauSansPro-Bold.woff2') format('woff2'),
    url('../fonts/subset-PFBeauSansPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
