.thank {
  padding-top: 234px;
  width: 336px;
  max-width: 100%;
  height: 314px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  color: $green;
  background-color: transparent;
  background-image: url(../img/thank-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 336px 314px;
}
