.plan {
  padding: 40px 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  background-color: $primary;
  background-image: url(../img/pattern-plan.png);
  background-size: 100%;

  @include media-breakpoint-down(sm) {
    padding-top: 25px;
  }

  &__text-place {
    font-family: $font-family-bridge;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: $secondary-light;

    &--small {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: .03;
      color: #dde1e1;
    }
  }

  &__final-logo {
    margin-top: -30px;
    margin-bottom: -50px;
    text-align: center;
  }
}
