//fancybox
.fancybox-bg {
  background-color: #000;
}

.fancybox-is-open {

  .fancybox-bg {
    opacity: .5;
  }
}

.fancybox--menu {
  z-index: 99;

  .fancybox-slide {
    padding: 0;
  }

  .fancybox-content {
    margin-left: 144px;
    padding: 0;
    width: calc(100% - 144px);
    height: 100%;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      width: 100%;
    }
  }
}

.fancybox--thank {

  .fancybox-content {
    padding: 0;
    background-color: transparent;
  }
}

.fancybox--street {

  .fancybox-slide {
    overflow: hidden;
  }

  .fancybox-content {
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
  }

  &.fancybox-is-open .fancybox-bg {
    opacity: .7;
  }

  .fancybox-close-small {
    top: -45px;
    right: -13px;
    padding: 5px;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    color: #fff;

    @include transition; //    @include media-breakpoint-down(sm) {
    //      right: auto;
    //      left: 0;
    //      background-color: rgba(0, 0, 0, .31);
    //    }
    &:before {
      margin-right: 5px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      letter-spacing: -.03em;
      text-transform: uppercase;
      content: 'закрыть';
      color: #fff;
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .street-view {
    padding: 40px 0;
    width: 100%;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}

.fancybox--modal-video {

  .fancybox-close-small {

    &:before {
      margin-right: 5px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      letter-spacing: -.03em;
      text-transform: uppercase;
      content: 'закрыть';
      color: #fff;
    }
  }
}

.fancybox--filters {

  .fancybox-content {
    padding: 0;
    width: 100%;
    min-height: 100%;
  }

  .fancybox-slide {
    padding: 0;

    &:before {
      display: none;
    }
  }
}

.fancybox--match {

  .fancybox-content {
    padding: 0;
    background-color: transparent;
  }

  .fancybox-close-small {
    top: 135px;
    right: 8px;
    padding: 5px;
    opacity: .4;
    transition: $transition-base;

    @include media-breakpoint-down(xs) {
      top: 75px;
      right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

  .fancybox-slide {

    @include media-breakpoint-down(xs) {
      padding: 24px;
    }
  }
}

.fancybox--img-gallery {

  .fancybox-bg {
    opacity: 1;
  }

  .fancybox-close-small {
    right: 0;

    svg {
      color: #fff;
    }
  }
}

.fancybox--default {

  .fancybox-button svg {
    color: #bdbdbd;
  }
}

//slick
.slick-slide {
  outline: none !important;
}

.slick-dots {
  position: absolute;
  z-index: 3;
  bottom: 24px;
  left: 50%;
  margin: 0;
  padding: 13px 12px;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #fff;
  border-radius: 20px;
  transform: translateX(-50%);

  li {
    padding: 0 4px;
  }

  button {
    display: block;
    overflow: hidden;
    width: 10px;
    height: 10px;
    opacity: .25;
    font-size: 1px;
    color: transparent;
    background-color: #009cb4;
    border-radius: 5px;

    @include transition;

    &:hover {
      opacity: .5;
    }
  }

  .slick-active {

    button {
      width: 30px;
      opacity: 1;
    }
  }
}

/* Правки для Тильды */

.t604__imgwrapper {
  height: 500px;

  @include media-breakpoint-down(lg) {
    height: 400px;
  }

  @include media-breakpoint-down(sm) {
    height: 300px;
  }

  @include media-breakpoint-down(xs) {
    height: 240px;
  }
}

.t-slds__arrow_wrapper {
  width: 10% !important;
}

p iframe {

  @include media-breakpoint-down(lg) {
    max-width: 100% !important;
    height: 400px !important;
  }

  @include media-breakpoint-down(md) {
    height: 300px !important;
  }

  @include media-breakpoint-down(sm) {
    height: 200px !important;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box !important;
}

.t-records {
  overflow: hidden !important;
}

@media screen and (max-width: 1199px) {

  #rec146366204 .tn-elem[data-elem-id='1559237699192'] {
    left: 55px;
  }

  #rec146366204 .tn-elem[data-elem-id='1559243225346'] {
    left: 300px;
  }
}

@media screen and (max-width: 959px) {

  #rec121433971 .tn-elem[data-elem-id='1562833829124'] {
    top: 550px !important;
  }
}

@media screen and (max-width: 650px) {

  div.t668__icon {
    top: 20px !important;
    right: 20px !important;
  }

  div.t668__opened .t668__lines {
    top: 7px !important;
    left: -4px !important;
  }
}

@media screen and (max-width: 479px) {

  #rec121433971 .tn-elem[data-elem-id='1559254127108'] {
    padding-top: 20px;
  }

  #rec121433971 .tn-elem[data-elem-id='1562827781146'] {
    padding-top: 20px;
  }

  #rec121433971 .tn-elem[data-elem-id='1562833829124'] {
    top: 750px !important;
  }
}

/* Ymaps */

.ymaps-2-1-75-map ymaps,
.ymaps-2-1-75-map ymaps:after,
.ymaps-2-1-75-map ymaps:before {
  box-sizing: content-box !important;
}

.ymaps-2-1-75-zoom__runner {
  width: auto !important;
}

.ymaps-2-1-75-default-cluster > ymaps {
  position: relative;
  top: -4px;
  font-family: $font-family-base;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}

/* Google Maps */

.cluster span {
  position: absolute;
  top: 7px;
  left: 13px;
  font-family: $font-family-base;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}

.gm-style-iw-c {
  padding: 0 !important;
  width: 56px;
  height: 56px;
  background: transparent url(../img/geo.svg) no-repeat center !important;
  background-size: contain;
  border-radius: 50% !important;
  box-shadow: none !important;
  transform: translate(-50%, -50%) !important;

  button {
    display: none !important;
  }

  .gm-style-iw-d {
    display: none !important;
  }
}

.gm-style .gm-style-iw-t:after {
  display: none !important;
}

/* Универсальные анимации */

@keyframes fadeInLeft {

  0% {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.slide-left {

  &--show {
    animation: fadeInLeft .5s forwards;

    @include media-breakpoint-down(lg) {
      animation: none;
    }
  }
}
