.pagination {

  &__link {
    margin-right: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 6px;

    @include transition;

    &:hover {
      color: #fff;
      background-color: rgba(255, 255, 255, .21);
    }

    &.is-active {
      font-weight: 600;
      color: $purple;
      background-color: #fff !important;
    }
  }
}
