mixin block-quote(data)
  .block-quote&attributes(attributes): .row.no-gutters
    if !data.structure
      .block-quote__left
        if !data.year
          if data.img
            img(src=`./img/${data.img}` alt="")
            if data.author
              h3.text-purple.mb-10 !{data.author}
          if data.photo
            img(src=`./img/${data.photo}` alt="")
            if data.author
              h3.text-purple.mb-10 !{data.author}  
          if data.video
            +video-link({
              img: `./img/${data.video}`
            }).video-link--xs
        else
          .block-quote__year !{data.year}
        p.p-sm !{data.role}
      .block-quote__right
        if data.quote
          .block-quote__icon
        if data.title
          h3.text-purple.mb-40 !{data.title}
        p !{data.text}
    else
      .block-quote__text
        .block-quote__icon
        h2.mb-30 !{data.title}
        p.text-secondary.font-weight-semi !{data.author}
      .block-quote__img
        if block
          block
