.block-quote {

  &--history {

    .block-quote__left {

      @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
      }
    }

    .block-quote__right {
      margin-bottom: 0;
    }
  }

  &__year {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: $purple;

    span {
      font-family: $font-family-bridge;
      font-size: 56px;
      line-height: 56px;
      font-weight: 400;
    }
  }

  &__left {
    position: relative;
    z-index: 1;
    padding: 0;
    float: left;
    width: 240px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
      float: none;
      width: 100%;
    }

    h3 {
      margin-top: 28px;
      font-size: 32px;

      @include media-breakpoint-down(xs) {
        font-size: 28px;
      }
    }

    img {

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .p-sm {
      margin-top: 12px;
    }
  }

  &__right {
    margin: 0 0 0 -240px;
    padding: 0 0 0 300px;
    float: left;
    width: 100%;

    @include media-breakpoint-down(sm) {
      margin: 0;
      padding: 0;
      float: none;
      width: 100%;
      order: 1;
    }
  }

  &__icon {
    margin: 0 auto 24px;
    display: block;
    width: 64px;
    height: 64px;
    background: transparent url(../img/quote-icon.svg) 0 0 no-repeat;
  }

  &--reorder {

    &:after {
      display: block;
      visibility: hidden;
      clear: both;
      height: 0;
      content: '.';
    }

    .block-quote__left {

      @include media-breakpoint-down(md) {
        margin-top: 0;
        margin-bottom: 0;
        float: none;
        width: 100%;
        order: 2;
      }

      @include media-breakpoint-down(xs) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }

      h3 {

        @include media-breakpoint-down(xs) {
          margin: 0 0 0 -160px !important;
          padding: 0 0 0 180px;
          float: left;
          width: 100%;
        }
      }

      img {

        @include media-breakpoint-down(md) {
          margin-right: 80px;
          float: left;
          width: auto;
        }

        @include media-breakpoint-down(xs) {
          margin-right: 0;
          padding: 0;
          float: left;
          width: 85px;
        }
      }

      p {

        @include media-breakpoint-down(xs) {
          margin-top: 10px;
          width: 100%;
        }
      }
    }

    .block-quote__right {

      @include media-breakpoint-down(md) {
        margin-bottom: 40px;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}
