mixin fest-search(data)
  .fest-search&attributes(attributes)
    .fest-search__header
      +logo
      a.fest-search__share(href="#")
    .fest-search__content
      .fest-search__form-wrapper
        +fest-search-form
        a.fest-search__form-map(href="#")
      .fest-search__wrapper
        p.p--sm.fest-search__subheader Ближайшие фан фесты
        .fest-search__results
          +fest-city({
            picture: 'fest-city-1.jpg',
            name: 'Москва',
            distance: 'Расстояние: 15 км'
          }).fest-city--big
          +fest-city({
            picture: 'fest-city-2.jpg',
            name: 'Санкт-Петербург',
            distance: 'Расстояние: 100 км'
          }).fest-city--big
          +fest-city({
            picture: 'fest-city-3.jpg',
            name: 'Мурманск',
            distance: 'Расстояние: 300 км'
          }).fest-city--big
        p.p--sm.fest-search__subheader.mt-35 Все 49 городов
        .fest-search__results
          +fest-city({
            name: 'Москва',
            distance: 'Расстояние: 15 км'
          })
          +fest-city({
            name: 'Санкт-Петербург',
            distance: 'Расстояние: 100 км'
          })
          +fest-city({
            name: 'Екатеринбург',
            distance: 'Расстояние: 160 км'
          })
          +fest-city({
            name: 'Абакан',
            distance: 'Расстояние: 400 км'
          })
          +fest-city({
            name: 'Астрахань',
            distance: 'Расстояние: 200 км'
          })
          +fest-city({
            name: 'Алапаевск',
            distance: 'Расстояние: 15 км'
          })
          +fest-city({
            name: 'Москва',
            distance: 'Расстояние: 15 км'
          })
          +fest-city({
            name: 'Санкт-Петербург',
            distance: 'Расстояние: 100 км'
          })
          +fest-city({
            name: 'Екатеринбург',
            distance: 'Расстояние: 160 км'
          })
          +fest-city({
            name: 'Абакан',
            distance: 'Расстояние: 400 км'
          })
          +fest-city({
            name: 'Астрахань',
            distance: 'Расстояние: 200 км'
          })
          +fest-city({
            name: 'Алапаевск',
            distance: 'Расстояние: 15 км'
          })
    +socials.fest-search__socials
  +fest-article
  +fest-event-article
