.fest-search {
  position: relative;
  z-index: 4;
  background: #fbfbfb;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .05);

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary;

    @include media-breakpoint-down(sm) {
      position: relative;
      z-index: 1;
      padding-right: 36px;
      padding-left: 36px;
    }
  }

  &__share {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/fest-share.svg) no-repeat;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .7;
    }
  }

  &__content {
    position: relative;
    padding: 0 40px 40px;
    height: calc(100vh - 161px);
    background: #fbfbfb;

    @include media-breakpoint-down(lg) {
      overflow: auto;
    }

    @include media-breakpoint-down(md) {
      padding: 0 32px 24px;
    }

    @include media-breakpoint-down(sm) {
      z-index: 2;
      padding-right: 24px;
      padding-left: 24px;
      height: calc(100% - 149px);
    }
  }

  &__form-wrapper {
    margin: 32px 0;

    @include media-breakpoint-down(md) {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 24px;
    }
  }

  &__form-map {
    display: none;

    @include media-breakpoint-down(sm) {
      margin-left: 16px;
      display: block;
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      background: #fff url(../img/fest-pin-btn.svg) no-repeat center;
      border-radius: 50%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    }
  }

  &__wrapper {
  }

  &__subheader {
    margin-bottom: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__results {
  }

  &__socials {
    position: relative;
    z-index: 3;
    background: #fbfbfb;
  }
}
