
include ../blocks/header/header.pug
include ../blocks/social-link/social-link.pug
include ../blocks/menu/menu.pug
include ../blocks/bottom/bottom.pug
include ../blocks/footer/footer.pug
include ../blocks/right-slide/right-slide.pug
include ../blocks/counter/counter.pug
include ../blocks/left-scroll/left-scroll.pug
include ../blocks/event/event.pug
include ../blocks/video-link/video-link.pug
include ../blocks/subs/subs.pug
include ../blocks/loader/loader.pug
include ../blocks/search/search.pug
include ../blocks/pagination/pagination.pug
include ../blocks/thank/thank.pug
include ../blocks/page-content/page-content.pug
include ../blocks/event-list/event-list.pug
include ../blocks/front/front.pug
include ../blocks/progress-page/progress-page.pug
include ../blocks/section-color/section-color.pug
include ../blocks/block-quote/block-quote.pug
include ../blocks/img-block/img-block.pug
include ../blocks/img-row/img-row.pug
include ../blocks/band/band.pug
include ../blocks/gallery/gallery.pug
include ../blocks/links-bottom/links-bottom.pug
include ../blocks/fix-top/fix-top.pug
include ../blocks/street-view/street-view.pug
include ../blocks/stadiums/stadiums.pug
include ../blocks/match/match.pug
include ../blocks/score/score.pug
include ../blocks/match-section/match-section.pug
include ../blocks/num/num.pug
include ../blocks/confetti/confetti.pug
include ../blocks/plan/plan.pug
include ../blocks/plan-table/plan-table.pug
include ../blocks/plan-cell/plan-cell.pug
include ../blocks/popup-match/popup-match.pug
include ../blocks/group-item/group-item.pug
include ../blocks/scheme/scheme.pug
include ../blocks/filters/filters.pug
include ../blocks/plan-table-scroll/plan-table-scroll.pug
include ../blocks/error/error.pug
include ../blocks/up/up.pug
include ../blocks/interview/interview.pug
include ../blocks/fest-front/fest-front.pug
include ../blocks/fest-info/fest-info.pug
include ../blocks/fest-about/fest-about.pug
include ../blocks/fest-search/fest-search.pug
include ../blocks/fest-map/fest-map.pug
include ../blocks/fest-article/fest-article.pug
include ../blocks/fest-event/fest-event.pug
include ../blocks/fest-event-article/fest-event-article.pug
include ../blocks/fest-choice/fest-choice.pug
include ../blocks/fest-search-form/fest-search-form.pug
include ../blocks/fest-city/fest-city.pug
include ../blocks/logo/logo.pug
include ../blocks/socials/socials.pug