head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title Title
  link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
  // style for loader
  style.
    .loader {
      opacity: 0;
      display: flex;
      background-repeat: no-repeat;
      background-position: center center;
      position: fixed;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      background-image: url(./img/loader-bg.png);
      background-color: #009cb4;
      z-index: 1000;
      top: 0;
      left: 0;
      text-align: center;
    }
    .loader__text{
      opacity: 0
    }
  //-------
  link(rel='stylesheet', href='css/style.css?1.3')
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="format-detection", content="telephone=no")
