.counter {
  padding-bottom: 62px;
  width: 224px;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, .3);
  background-image: url(../img/counter-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 62px;
  border-radius: 120px;

  @include media-breakpoint-down(sm) {
    position: relative;
    padding-left: 24px;
    padding-bottom: 15px;
    width: 100%;
    text-align: left;
    background-position: calc(100% - 6px) bottom;
    border-radius: 0;
  }

  &:after {

    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 6px;
      content: '';
      background-color: #99c462;
    }
  }

  &__num {
    font-family: $font-family-bridge;
    font-size: 48px;
    line-height: 56px;
  }

  &__text {
    opacity: .5;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -.03em;
    text-transform: uppercase;
  }
}
