mixin fest-article(data)
  .fest-article.slide-left&attributes(attributes)
    a.fest-article__close(href="#") Назад
    .fest-article__slider
      img.fest-article__picture(src="./img/gallery-pic-1.jpg", alt)
      img.fest-article__picture(src="./img/gallery-pic-2.jpg", alt)
      img.fest-article__picture(src="./img/gallery-pic-3.jpg", alt)
      img.fest-article__picture(src="./img/gallery-img-1.jpg", alt)
    .fest-article__content
      .container.py-45.py-lg-50
        .fest-article__btns-wrapper
          a.fest-article__share(href="#")
          a.fest-article__route(href="#")
        h3.fest-article__header г. Москва, Парк Горького
        p.p--sm.fest-article__address г. Москва, ул. Крымский Вал, 
      .fest-article__about
        .container
          p.p--sm.text-uppercase.font-weight-semi.mb-15 О городе
          .fest-article__text-wrapper
            .fest-article__text-item
              p.p--sm Существует две версии происхождения названия города. По одной версии оно происходит от финского «моск» – медведь и «ва» – вода, а по второй версии - с древнеславянского «москва» означает «сырость», или «мокро».
            .fest-article__text-item
              p.p--sm Только четвертое поколение людей, живущих в Москве постоянно, можно считать коренными москвичами, но таковыми являются лишь 2%. При этом из года в год процент русских жителей становится меньше.
      .fest-article__bottom
        .fest-article__events-list
          a.fest-article__return(href="#") Назад
          .container
            p.p--sm.text-uppercase.font-weight-semi.mb-15 ближайшие события
            .row
              .col-lg-6.fest-article__event
                +fest-event({
                  date: '16',
                  time: 'с 12:30 до 00:30'
                }).fest-event--past
              .col-lg-6.fest-article__event
                +fest-event({
                  date: '17',
                  time: 'с 12:30 до 00:30'
                })
              .col-lg-6.fest-article__event
                +fest-event({
                  date: '18',
                  time: 'с 15:30 до 23:30'
                })
              .col-lg-6.fest-article__event
                +fest-event({
                  date: '19',
                  time: 'с 15:30 до 23:30'
                })
              .col-lg-6.fest-article__event
                +fest-event({
                  date: '20',
                  time: 'с 15:30 до 23:30'
                })
              .col-lg-6.fest-article__event
                +fest-event({
                  date: '21',
                  time: 'с 15:30 до 23:30'
                })
              .col-lg-6.fest-article__event.fest-article__event--additional
                +fest-event({
                  date: '22',
                  time: 'с 12:30 до 00:30'
                })
              .col-lg-6.fest-article__event.fest-article__event--additional
                +fest-event({
                  date: '23',
                  time: 'с 12:30 до 00:30'
                })
              .col-lg-6.fest-article__event.fest-article__event--additional
                +fest-event({
                  date: '24',
                  time: 'с 15:30 до 23:30'
                })
            a.fest-article__more(href="#") показать 
              span.fest-article__more-all все
            .fest-article__events-all
              a.fest-article__events-all-close(href="#") Назад
              h4.fest-article__events-all-header Все события
              .fest-article__events-all-wrapper
        .container
          p.p--sm.text-uppercase.font-weight-semi.mb-15 сервисы на площадке
          .fest-article__services-list
            .fest-article__service.fest-article__service--bright
              img.fest-article__service-icon(src="./img/fest-service-1.svg")
            .fest-article__service
              img.fest-article__service-icon(src="./img/fest-service-2.svg")
            .fest-article__service.fest-article__service--bright
              img.fest-article__service-icon(src="./img/fest-service-1.svg")
            .fest-article__service
              img.fest-article__service-icon(src="./img/fest-service-2.svg")
            .fest-article__service.fest-article__service--bright
              img.fest-article__service-icon(src="./img/fest-service-1.svg")
            .fest-article__service
              img.fest-article__service-icon(src="./img/fest-service-2.svg")
        .container
          p.p--sm.text-uppercase.font-weight-semi.mb-15 фото 
            a(href="#") #moscowfanfest
          .fest-article__instagram
            .fest-article__instagram-content
              .fest-article__instagram-wrapper
                .fest-article__instagram-item-wrapper
                  a.fest-article__instagram-item(href="#")
                    img(src="./img/fest-ig-1.png", alt)
                .fest-article__instagram-item-wrapper
                  a.fest-article__instagram-item(href="#")
                    img(src="./img/fest-ig-2.png", alt)
                .fest-article__instagram-item-wrapper
                  a.fest-article__instagram-item(href="#")
                    img(src="./img/fest-ig-3.png", alt)
                .fest-article__instagram-item-wrapper
                  a.fest-article__instagram-item(href="#")
                    img(src="./img/fest-ig-4.jpg", alt)
