.fest-article {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 432px;
  display: none;
  max-width: 40vw;
  height: 100vh;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);

  @include media-breakpoint-down(lg) {
    overflow: auto;
    max-width: calc(100% - 432px);
  }

  @include media-breakpoint-down(md) {
    left: 328px;
    max-width: calc(100vw - 328px);
  }

  @include media-breakpoint-down(sm) {
    z-index: 4;
    left: 0;
    width: 100%;
    max-width: none;
    background: #fbfbfb;
  }

  .container {
    padding-right: 60px;
    padding-left: 60px;

    @media screen and (max-width: 1399px) {
      padding-right: 24px;
      padding-left: 24px;
    }

    //    @include media-breakpoint-down(md) {
    //      padding-right: 32px;
    //      padding-left: 32px;
    //    }
    //
    //    @include media-breakpoint-down(sm) {
    //      padding-right: 24px;
    //      padding-left: 24px;
    //    }
  }

  &__return {
    display: none;
  }

  &__close {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 0;
    background: url(../img/fest-close.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(md) {
      top: 24px;
      right: 24px;
    }

    @include media-breakpoint-down(sm) {
      right: auto;
      left: 24px;
      display: flex;
      width: auto;
      height: auto;
      align-items: center;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      background: transparent;
    }

    &:before {

      @include media-breakpoint-down(sm) {
        margin-right: 12px;
        display: block;
        width: 10px;
        height: 13px;
        content: '';
        background: url(../img/fest-triangle-white.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__slider {

    .slick-dots {
      z-index: 2;
      bottom: 76px;
      padding: 0;
      background: transparent;

      @include media-breakpoint-down(md) {
        bottom: 43px;
        left: 30px;
        justify-content: flex-start;
        transform: none;
      }

      @include media-breakpoint-down(sm) {
        left: 24px;
      }

      li {
        padding: 0;

        & + li {
          margin-left: 10px;
        }

        &.slick-active {

          button {
            background: #fff;
          }
        }

        &:only-child {
          display: none;
        }

        button {
          width: 10px;
          height: 10px;
          opacity: 1;
          background: rgba(#fff, .5);

          @include transition;

          &:hover {
            background: #fff;
          }
        }
      }
    }
  }

  &__picture {
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.4%, #000000 100%);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    margin-top: -56px;
    flex-grow: 1;
    background: #fff;
    border-radius: 40px 40px 0 0;

    @include media-breakpoint-down(md) {
      margin-top: -24px;
      border-radius: 20px;
    }
  }

  &__btns-wrapper {
    position: absolute;
    top: -28px;
    right: 60px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      top: -24px;
      right: 24px;
    }
  }

  &__share {
    width: 48px;
    height: 48px;
    background: #fff url(../img/fest-share-color.svg) no-repeat center;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  }

  &__route {
    margin-left: 12px;
    width: 48px;
    height: 48px;
    background: #fff url(../img/fest-route-color.svg) no-repeat center;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  }

  &__header {
    margin-bottom: 15px;
    font-family: $font-family-base;
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    text-transform: none;

    @include media-breakpoint-down(md) {
      margin-bottom: 18px;
      font-size: 24px;
      line-height: 1.12;
    }
  }

  &__address {
    margin-bottom: 0;
    display: flex;
    align-items: center;

    &:before {
      margin-right: 8px;
      display: block;
      width: 12px;
      height: 17px;
      content: '';
      background: url(../img/fest-marker.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__about {
    padding: 40px 0 112px;
    background: rgba(#eff1f1, .4) url(../img/fest-article-about.png) no-repeat bottom center;
    background-size: contain;

    @include media-breakpoint-down(md) {
      background-position: left -20px bottom;
      background-size: auto 72px;
    }
  }

  &__text-wrapper {
    margin: 0 -20px;
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__text-item {
    padding: 0 20px;
    max-width: 50%;

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
      max-width: none;
    }
  }

  &__bottom {
    background: #fbfbfb;
  }

  &__events-list {
    position: relative;
    padding: 56px 0;

    @include media-breakpoint-down(md) {
      padding: 48px 0;
    }
  }

  &__event {

    &:nth-child(n + 4) {

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &--additional {
      display: none;
    }
  }

  &__more {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;

    @include transition;

    &:hover {
      opacity: .7;
      color: $primary;
    }

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 52px;
      right: 32px;
      margin-top: 0;
      font-size: 0;
    }

    &:after {
      margin-left: 10px;
      display: block;
      width: 9px;
      height: 12px;
      content: '';
      background: url(../img/fest-triangle.svg) no-repeat;
      background-size: contain;

      @include media-breakpoint-down(md) {
        transform: rotate(-90deg);
      }
    }
  }

  &__more-all {

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  &__events-all {
    display: none;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      right: 0;
      padding: 56px 32px;
      overflow: auto;
      width: 100%;
      max-width: calc(100vw - calc(100vw - 328px));
      height: 100vh;
      background: #fbfbfb;
      box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    }

    @include media-breakpoint-down(sm) {
      z-index: 1;
      padding: 24px 24px 56px;
      width: 100%;
      max-width: none;
    }
  }

  &__events-all-header {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.15;
    font-weight: 700;
    text-transform: none;
  }

  &__events-all-close {
    position: absolute;
    z-index: 1;
    top: 24px;
    right: 24px;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 0;
    background: url(../img/fest-close-color.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(sm) {
      position: static;
      margin-bottom: 24px;
      display: flex;
      width: auto;
      height: auto;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      letter-spacing: -.03em;
      text-transform: uppercase;
      color: #009cb4;
      background: transparent;
    }

    &:before {

      @include media-breakpoint-down(sm) {
        top: 1px;
        margin-right: 12px;
        display: block;
        width: 10px;
        height: 13px;
        flex-shrink: 0;
        content: '';
        background: url(../img/fest-triangle-blue.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__events-all-back {

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__events-all-wrapper {
  }

  &__services-list {
    margin-bottom: 56px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 32px;
      flex-wrap: wrap;
    }
  }

  &__service {
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    background: #ededed;
    border-radius: 50%;

    @media screen and (max-width: 1799px) {
      width: 55px;
      height: 55px;
    }

    @media screen and (max-width: 1399px) {
      width: 48px;
      height: 48px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 16px;
      margin-bottom: 16px;
    }

    & + & {
      margin-left: 24px;

      @include media-breakpoint-down(md) {
        margin-left: 16px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }

    &--bright {
      background: rgba($primary, .2);
    }
  }

  &__service-icon {
  }

  &__instagram {
    padding-bottom: 76px;
    display: flex;

    @include media-breakpoint-down(md) {
      position: relative;
      padding-bottom: 59px;
      overflow: hidden;
    }

    &:after {
      position: absolute;
      right: 0;
      display: none;
      width: 102px;
      height: 100%;
      content: '';
      background: linear-gradient(270deg, #fbfbfb 45.67%, rgba(251, 251, 251, .06) 100%);

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  &__instagram-content {

    @include media-breakpoint-down(md) {
      overflow: auto;
      width: 100%;
    }
  }

  &__instagram-wrapper {
    margin: 0 -12px;
    display: flex;
    width: calc(100% + 24px);

    @include media-breakpoint-down(md) {
      margin: 0 -8px;
      width: calc(100% + 16px);
    }
  }

  &__instagram-item-wrapper {
    margin: 0 12px;
    width: 25%;

    @include media-breakpoint-down(md) {
      margin: 0;
      padding: 0 8px;
      width: 33.33%;
      flex-shrink: 0;
    }
  }

  &__instagram-item {
    position: relative;
    padding-top: 100%;
    display: block;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  p {

    a {

      @include transition;

      &:hover {
        opacity: .7;
        color: $primary;
      }
    }
  }

  &--event {

    @include media-breakpoint-down(lg) {
      z-index: 4;
      left: 0;
    }
  }
}
