mixin group-item(data)
  .group-item&attributes(attributes)
    .group-item__head(class=data.color) !{data.group}
    table.group-item__table
      tr
        td 
          .group-item__table-flag(style="background-image: url(./img/flag-f1.png);")
          | Россия (RUS)
        td 2
      tr
        td 
          .group-item__table-flag(style="background-image: url(./img/flag-f2.png);")
          | Египет (EGY)
        td 5
      tr
        td 
          .group-item__table-flag(style="background-image: url(./img/flag-f3.png);")
          | Саудовская Аравия (URU)
        td 10
      tr
        td 
          .group-item__table-flag(style="background-image: url(./img/flag-f4.png);")
          | Коста-Рика (ESP)
        td 1
