.group-item {
  color: #fff;

  &__head {
    margin-right: -24px;
    margin-bottom: 15px;
    margin-left: -24px;
    padding: 8px 24px;
    font-family: $font-family-bridge;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .03em;
    color: #fff;

    &--color-a {
      background-color: $blue;
    }

    &--color-b {
      background-color: $purple;
    }

    &--color-c {
      background-color: $secondary;
    }

    &--color-d {
      background-color: $green;
    }

    &--color-e {
      background-color: $pink;
    }

    &--color-f {
      background-color: $dark-purple;
    }
  }

  &__table {
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -.03em;

    @include media-breakpoint-down(sm) {
      line-height: 40px;
    }

    td:last-child {
      padding-left: 10px;
      text-align: right;
    }
  }

  &__table-flag {
    display: none;

    @include media-breakpoint-down(sm) {
      position: relative;
      top: 3.5px;
      margin-right: 12px;
      display: inline-flex;
      width: 20px;
      height: 20px;
    }
  }
}
