mixin fest-info(data)
  .fest-info&attributes(attributes)
    .container
      .row
        .col-lg-7
          h2.fest-info__header.mb-25.text-purple евро-2020
          p.mb-25 Впервые в своей истории чемпионат Европы по футболу будет проходить не в одной и даже не в двух странах. Матчи турнира примут 12 городов.
          p Футбольный турнир пройдет с 12 июня по 12 июля 2020 года.
          a.btn.btn-purple.px-55.mt-40.d-none.d-lg-inline-block(href="#") О евро
        .col-lg-4.offset-lg-1.d-flex.align-items-center
          .fest-info__numbers-content
            .fest-info__numbers-wrapper
              .fest-info__number 12
              p.mb-0 городов
            .fest-info__numbers-wrapper
              .fest-info__number 24
              p.mb-0 команды
        a.btn.btn-purple.px-55.mt-40.d-lg-none(href="#") О евро
    img.fest-info__picture(src="./img/fest-info.png", alt)
