.fest-info {
  padding-top: 100px;

  @include media-breakpoint-down(md) {
    overflow: hidden;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 56px;
  }

  &__header {

    @include media-breakpoint-down(md) {
      margin-bottom: 24px;
      font-size: 48px;
      line-height: 1.15;
    }

    @include media-breakpoint-down(sm) {
      font-size: 32px;
      line-height: 1.3;
    }
  }

  &__numbers-content {

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      display: flex;
    }
  }

  &__numbers-wrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    & + & {

      @include media-breakpoint-down(md) {
        margin-left: 64px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 48px;
      }
    }
  }

  &__number {
    margin-right: 12px;
    font-family: $font-family-bridge;
    font-size: 96px;
    line-height: 1;
    color: $purple;

    @include media-breakpoint-down(sm) {
      font-size: 64px;
      line-height: 1.05;
    }
  }

  &__picture {
    margin-top: 50px;

    @include media-breakpoint-down(md) {
      margin-top: 12px;
      width: auto;
      max-width: none;
      height: 322px;
    }
  }

  .btn {

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
