.page-content {
  padding-left: 288px;
  width: 100%;
  min-height: 100vh;

  @include media-breakpoint-down(lg) {
    padding-left: 0;
  }

  &--fix {
    padding-right: 144px;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }
  }

  &--stadiums {
    background: url(../img/page-content--stadiums-bg2.png) right top no-repeat,
      url(../img/page-content--stadiums-bg.jpg) right top no-repeat;
    background-color: #7f457d;

    @include media-breakpoint-down(lg) {
      background-size: 100% auto, auto auto;
    }

    @include media-breakpoint-down(sm) {
      background-color: #7f457d;
      background-image: none;
    }

    > div {
      padding-top: 300px;

      @include media-breakpoint-down(sm) {
        padding-top: 0;
      }
    }
  }

  &--purple {
    background: #7f457d url(../img/page-content--category-bg.jpg) center center no-repeat;
    background-size: cover;
  }
}
