.band {
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    content: '';
    background-image: url(../img/band.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;

    @include media-breakpoint-down(xs) {
      background-image: url(../img/band-mobile.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100% auto;
    }
  }
}
