.gallery {

  &__nav {
    display: none;
  }

  &__slider {
  }

  &__slider-item {
    position: relative;
    width: 100%;
    height: 100vh;

    @include media-breakpoint-down(md) {
      height: 500px;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 400px;
      opacity: .7;
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 79.87%);

      @include media-breakpoint-down(md) {
        height: 215px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;

      @include media-breakpoint-down(md) {
        min-height: 500px;
      }

      @include media-breakpoint-down(sm) {
        position: relative;
        top: auto;
        left: auto;
        height: 300px;
        min-height: 0;
        transform: none;
      }
    }
  }

  &__slider-description {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 28px;

    @include media-breakpoint-down(sm) {
      position: static;
      padding: 15px 24px 40px;
    }

    p {

      @include media-breakpoint-down(sm) {
        font-weight: 700;
        color: #333 !important;
      }
    }
  }

  &__slider-label {
    font-size: 12px;
    text-transform: uppercase;
    color: #bdbdbd;

    @include media-breakpoint-down(sm) {
      color: #bdbdbd;
    }
  }

  .slick-dots {
    position: absolute;
    z-index: 3;
    top: 32px;
    right: 40px;
    left: auto;
    padding: 0;
    height: 64px;
    background: transparent;
    border: 0 none;
    transform: translateX(0);

    @include media-breakpoint-down(sm) {
      top: 17px;
      right: 20px;
      bottom: auto;
      height: 45px;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    li {
      position: relative;
      margin-right: 14px;
      padding: 0;
      display: flex;
      overflow: hidden;
      width: 64px;
      height: 64px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;

      &:before {
        position: absolute;
        z-index: 2;
        top: 4px;
        left: 4px;
        display: block;
        width: 56px;
        height: 56px;
        opacity: 0;
        content: '';
        background: #fff;
        border-radius: 50%;

        @include transition;
      }

      &:hover {

        &:before {
          opacity: .5;
        }
      }

      @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-bottom: 5px;
        width: 45px;
        height: 45px;
      }

      & + li {

        @include media-breakpoint-down(sm) {
          margin-left: 10px;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      &.slick-active {

        &:hover:before {
          opacity: 0;
        }

        .progress__value {
          display: block;
        }
      }

      img {
        position: absolute;
        z-index: 1;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        object-fit: cover;

        @include media-breakpoint-down(sm) {
          width: 40px;
          height: 40px;
        }
      }

      // Progress
      .progress {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
      }

      .progress__meter,
      .progress__value {
        fill: none;
      }

      .progress__meter {
        stroke: #9f9a96;
      }

      .progress__value {
        display: none;
        stroke: #ffffff;
        stroke-linecap: round;
      }
    }
  }
}
