mixin gallery(data)
  .gallery&attributes(attributes)
    .gallery__slider
      for image in data.images
        a.gallery__slider-item(href="./img/" + image, data-fancybox="gallery")
          img(src=`./img/${image}` alt="")
          .gallery__slider-description
            p.p-md.text-white.mb-10 !{data.text}
            .gallery__slider-label !{data.label}
    ul.gallery__nav
      for image in data.images
        li
          img(src=`./img/${image}` alt="")
