.filters {

  &__head {
    padding-top: 25px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: $primary;
    background-image: url(../img/pattern-head-filters.png);
  }

  &__title {
    color: #fff;
  }

  &__link {
    padding: 10px 24px;
    display: flex;
    height: 58px;
    align-items: center;
    font-size: 16px;
    letter-spacing: -.03em;
    color: $dark;
    border-bottom: 1px solid rgba(221, 225, 225, .51);

    img {
      display: block;
      flex-shrink: 0;
    }

    &:after {
      margin-left: auto;
      display: block;
      min-width: 9px;
      height: 12px;
      content: '';
      background-image: url(../img/filter-arrow.svg);
      background-size: 100% 100%;
    }
  }

  &--result {
    background-color: $primary;
    background-image: url(../img/pattern-result-popup.png);
    background-size: 100%;

    &.fancybox-content {
      padding-top: 25px;
      padding-right: 24px;
      padding-left: 24px;
    }
  }
}
