mixin filters(data)
  .filters&attributes(attributes)
    .filters__head
      .row.no-gutters.align-items-center.justify-content-between.pb-15
        .h3.filters__title.mb-0 Фильтр
        a(href="javasrcipt:;" data-fancybox-close).btn.btn-link.btn-link--close.mt-5 закрыть
      ul.nav.nav-tabs
        li.nav-item: a.nav-link.active(href="#filter-group" data-toggle="tab") выбрать команду
        li.nav-item: a.nav-link(href="#filter-city" data-toggle="tab") выбрать город
    .tab-content
      #filter-group.tab-pane.fade.show.active
        a.filters__link(href="javasrcipt:;"
          data-fancybox data-type="ajax"
          data-src="./filters-group-result.html?group=rus"
          data-touch="false" data-modal="true" data-base-class="fancybox--filters"
          )
          img(src="./img/flag-f1.png" alt="").mr-10
          span.mr-10 Россия
        a.filters__link(href="#")
          img(src="./img/flag-f2.png" alt="").mr-10
          span.mr-10 Египет
        a.filters__link(href="#")
          img(src="./img/flag-f3.png" alt="").mr-10
          span.mr-10 Саудовская Аравия
        a.filters__link(href="#")
          img(src="./img/flag-f4.png" alt="").mr-10
          span.mr-10 Коста-Рика
        a.filters__link(href="#")
          img(src="./img/flag-f5.png" alt="").mr-10
          span.mr-10 Уругвай
        a.filters__link(href="#")
          img(src="./img/flag-f6.png" alt="").mr-10
          span.mr-10 Португалия
        a.filters__link(href="#")
          img(src="./img/flag-f7.png" alt="").mr-10
          span.mr-10 Марокко
        a.filters__link(href="#")
          img(src="./img/flag-f5.png" alt="").mr-10
          span.mr-10 Уругвай
        a.filters__link(href="#")
          img(src="./img/flag-f6.png" alt="").mr-10
          span.mr-10 Португалия
        a.filters__link(href="#")
          img(src="./img/flag-f7.png" alt="").mr-10
          span.mr-10 Марокко
      #filter-city.tab-pane.fade
        a.filters__link(href="javasrcipt:;"
          data-fancybox data-type="ajax"
          data-src="./filters-group-result2.html?city=amsterdam"
          data-touch="false" data-modal="true" data-base-class="fancybox--filters"
        )
          img(src="./img/flag-f4.png" alt="").mr-10
          span.mr-10 Лондон
        a.filters__link(href="#")
          img(src="./img/flag-f5.png" alt="").mr-10
          span.mr-10 Мюнхен
        a.filters__link(href="#")
          img(src="./img/flag-f6.png" alt="").mr-10
          span.mr-10 Рим
        a.filters__link(href="#")
          img(src="./img/flag-f7.png" alt="").mr-10
          span.mr-10 Баку
        a.filters__link(href="#")
          img(src="./img/flag-f5.png" alt="").mr-10
          span.mr-10 Санкт-Петербург
        a.filters__link(href="#")
          img(src="./img/flag-f6.png" alt="").mr-10
          span.mr-10 Бухарест
        a.filters__link(href="#")
          img(src="./img/flag-f7.png" alt="").mr-10
          span.mr-10 Амстердам
      
