.popup-match {

  &__head {
    text-align: center;
    border-bottom: 8px solid $green;

    img {
      height: 120px;

      @include media-breakpoint-down(xs) {
        height: 68px;
      }
    }
  }

  &__content {
    padding-top: 28px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: #fff;

    @media screen and(max-height: 768px) {
      padding-bottom: 25px;
    }

    @include media-breakpoint-down(xs) {
      padding: 20px;
    }

    &--bordered {
      border-top: 1px solid #e0e0e0;
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;

    @media screen and(max-height: 768px) {
      margin-bottom: 15px;
    }
  }

  &__bottom {
    padding: 20px 40px;
    text-align: center;
    background-color: $primary;

    @include media-breakpoint-down(xs) {
      padding: 20px 16px;
    }

    span {

      @include media-breakpoint-down(xs) {
        font-size: 10px;
        line-height: 16px;
      }
    }
  }

  &__link {
  }
}
