mixin popup-match(data)
  .popup-match&attributes(attributes)
    .popup-match__head: img(src="./img/st-1.png" alt="")
    .popup-match__content
      .popup-match__title
        p.font-weight-semi Рим, Италия, «Олимпико»
        .p-sm.text-gray-dark 12.06, пятница, 15:30 мск
      +score({
        logo1: {
          img: 'g-1.png',
          name: 'AZE'
        },
        logo2: {
          img: 'g-2.png',
          name: 'EGY'
        },
        score: data.score,
        group: 'группа A, тур 2'
      }).score--large
    .popup-match__content.popup-match__content--bordered
      .row
        .col-sm-6.pb-10
          .p-sm.text-gray-dark Рефери:
          .p-sm Валентина Финци (ITA)
        .col-sm-6.pb-10
          .p-sm.text-gray-dark Ассистенты рефери:
          .p-sm Тизиана Траскьятти (ITA)
          .p-sm Мирела Иванова (BUL)
        .col-sm-6.pb-10
          .p-sm.text-gray-dark Резервный:
          .p-sm Димитрина Милкова (BUL)
    .popup-match__bottom
      a.text-white.p-sm.d-inline-flex.align-items-center.align-items-sm-start.text-left(href="#")
        img.mr-10(src="./img/match-img.png" alt="")
        span 15:30 — Прямая трансляция матча на канале «Матч ТВ»
