mixin fest-about(data)
  .fest-about&attributes(attributes)
    .container
      .row
        .col-lg-6
          .fest-about__wrapper
            h2.fest-about__header.text-white.mb-25 ФЕСТИВАЛЬ БОЛЕЛЬЩИКОВ ЕВРО-2020
            .fest-about__content
              p.text-white Фестивали болельщиков — серия многодневных мероприятий в городах, принимающих чемпионат мира по футболу под эгидой Международной федерации футбола. Фестивали открыты для всех посетителей и предлагают участникам трансляции
              a.btn.btn-purple.px-55.mt-40(href="#") Найти фестиваль
