.fest-about {
  position: relative;
  padding: 175px 0 200px;
  background: url(../img/fest-about-bg.png) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(md) {
    padding: 100px 0 388px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
    background-position: top center;
    background-size: auto 484px;
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 688px;
    height: 584px;
    content: '';
    background: url(../img/fest-about-fans.png) no-repeat;
    background-size: contain;

    @include media-breakpoint-down(md) {
      width: 512px;
      height: 434px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__header {

    @include media-breakpoint-down(md) {
      margin-bottom: 24px;
      font-size: 48px;
      line-height: 1.15;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0 !important;
      padding-top: 80px;
      min-height: 484px;
      font-size: 32px;
      line-height: 1.3;
      background: url(../img/fest-about-fans.png) no-repeat center bottom;
      background-size: 270px 230px;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__fans {
  }

  &__content {

    @include media-breakpoint-down(sm) {
      margin-left: -24px;
      padding: 40px 24px;
      width: calc(100% + 48px);
      background: #fff;
    }

    p {

      @include media-breakpoint-down(sm) {
        color: #333 !important;
      }
    }

    .btn {

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}
