.subs {
  padding-top: 36px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
  color: #fff;
  background: linear-gradient(164.15deg, #accd71 0%, #99c462 49.48%, #77ab4e 100%);

  @include media-breakpoint-down(lg) {
    padding-right: 0;
    padding-left: 0;
  }

  &__form {

    @media (max-width: 1499px) {
      margin: 0 auto;
      max-width: 224px;
    }

    @include media-breakpoint-down(sm) {
      max-width: none;
    }
  }

  &__cond {
    padding-top: 12px;
    font-size: 10px;
    color: #fff;

    span {
      opacity: .5;
    }

    a {
      color: inherit;

      @include transition;

      &:hover {
        opacity: .7;
        color: inherit;
      }
    }
  }
}
