mixin subs(data)
  .subs&attributes(attributes): form(novalidate).js-valid.js-send-ajax: .container-fluid.px-xl-0
    .row.no-gutters
      .col-md-4.col-lg-5.pb-30
        h3 Подпишись на новости 
          span.text-purple Евро 2020
      .col-md-8.col-lg-7.pl-md-25.pl-lg-50.pl-xl-35.pt-10.d-flex.justify-content-center
        .subs__form
          .form-group.mb-20
            input.form-control.text-white(type="text" name="name" placeholder="Ваше имя" required)
            .invalid-feedback Пожалуйста, введите свое имя
              span.invalid-feedback__icon
          .form-group.mb-20
            input.form-control.text-white(type="email" name="name" placeholder="Ваша почта" required)
            .invalid-feedback Пожалуйста, введите действительную почту
              span.invalid-feedback__icon
          button.btn.btn-purple.w-100(type="submit") Подписаться
          .subs__cond.
            <span>Нажимая кнопку «Подписаться», вы даете свое согласие на</span>
            <a href="#">Обработку персональных данных</a>
        
