mixin score(data)
  .score&attributes(attributes)
    if data.head
      .score__head.text-center.pb-10.w-100
        p.p-md.font-weight-bold= data.head.date
        p.p-sm.text-gray-dark= data.head.place
    .score__logo-wrap
      .score__logo
        if data.logo1.img
          img(src=`./img/${data.logo1.img}` alt="")
      .score__name !{data.logo1.name}
    .score__count 
      |!{data.score}
      if data.group
        .score__group.p-xs.text-gray-dark.text-uppercase= data.group
    .score__logo-wrap
      .score__logo
        if data.logo2.img
          img(src=`./img/${data.logo2.img}` alt="")
      .score__name !{data.logo2.name}
