.score {
  margin-top: 56px;
  display: flex;

  @include media-breakpoint-down(md) {
    cursor: pointer;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: space-between;
  }

  &__logo-wrap {
    text-align: center;
  }

  &__logo {

    img {
      max-width: 100% !important;

      @include media-breakpoint-down(sm) {
        max-width: 64px !important;
      }
    }
  }

  &__name {
    margin-top: 16px;
    font-size: 28px;
    line-height: 28px;
  }

  &__count {
    margin: 0 80px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    white-space: nowrap;

    @include media-breakpoint-down(lg) {
      margin: 0 70px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 50px;
    }

    @include media-breakpoint-down(sm) {
      margin: 0;
    }

    @include media-breakpoint-down(xs) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &--detail {
    margin-top: 0;
    width: 256px;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;

    .score__count {
      margin: 0;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
    }

    .score__group {
      margin-top: 38px;
      font-size: 12px;
      line-height: 16px;
      font-weight: 300;
    }

    .score__name {
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
    }

    .score__logo img {
      max-width: 64px !important;
    }
  }

  &--white {
    color: #fff;

    .text-gray-dark {
      opacity: .5;
      color: #fff !important;
    }
  }

  &--large {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      margin-top: 25px;
    }

    .score__group {
      font-family: $font-family-base;
      font-weight: normal;
      text-align: center;

      @include media-breakpoint-down(xs) {
        padding-top: 25px;
      }
    }

    .score__count {
      font-family: $font-family-bridge;
      font-size: 48px;
      line-height: 56px;
      text-align: center;

      @include media-breakpoint-down(xs) {
        font-size: 32px;
        line-height: 40px;
        align-self: flex-end;
      }
    }

    .score__name {
      margin-top: 12px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &--small {
    width: 160px;

    .score__logo {
      width: 44px;
    }

    .score__count {
      margin-bottom: auto;
      padding-top: 10px;
      font-weight: 600;
    }

    .score__name {
      margin-top: 8px;
    }
  }

  &--scheme {

    @include media-breakpoint-down(md) {
      width: auto;
      height: 160px;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .score__count {

      @include media-breakpoint-down(md) {
        padding-top: 0;
        padding-left: 12px;
        padding-bottom: 24px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        order: 1;
        font-size: 20px;
        line-height: 44px;
      }

      span:nth-child(2) {

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    .score__head {

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
