.progress-page {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: transparent;

  &__bar {
    width: 0%;
    height: 4px;
    background: #fff;
  }
}
