mixin links-bottom(data)
  .links-bottom&attributes(attributes)
    .container: .row.no-gutters
      .col-sm-6: .links-bottom__item
        .links-bottom__type Интервью
        a(href="#").links-bottom__link Месси рассказал как готовиться к турниру
      .col-sm-6: .links-bottom__item.links-bottom__item--purple
        .links-bottom__type Статья
        a(href="#").links-bottom__link Наши соперники в отборочном цикле
        
