.links-bottom {
  margin-top: 4px;
  background: url(../img/links-bottom-yellow.jpg) left center no-repeat,
    url(../img/links-bottom-purple.jpg) right center no-repeat;
  background-size: calc(50% - 2px) 100%, calc(50% - 2px) 100%;

  @include media-breakpoint-down(xs) {
    margin-top: 0;
    background: none;
  }

  > .container {

    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }

  &__item {
    padding: 30px 40px;

    @include media-breakpoint-down(xs) {
      padding: 30px 24px;
      background: url(../img/links-bottom-yellow.jpg) left center no-repeat;
      background-size: cover;
    }

    &--purple {

      @include media-breakpoint-down(xs) {
        background: url(../img/links-bottom-purple.jpg) left center no-repeat;
        background-size: cover;
      }
    }
  }

  &__type {
    padding: 8px 12.5px;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: -.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(#ffffff, .2);
  }

  &__link {
    margin-top: 16px;
    display: block;
    font-family: $font-family-bridge;
    font-size: 22px;
    color: #ffffff;
    transition: all .3s ease;

    &:hover {
      color: rgba(#fff, .7);
    }
  }
}
