.fest-choice {
  display: flex;

  &__sidebar {
    width: 100%;
    max-width: 432px;
    height: 100vh;

    @include media-breakpoint-down(md) {
      max-width: 328px;
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: none;
      height: 100%;
    }
  }

  &__map {
  }
}
