.socials {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e8ecec;

  &__item {
    width: 52px;
    height: 52px;
    border: 1px solid rgba(#dde1e1, .7);
    border-radius: 50%;

    @include transition;

    &:hover {
      border-color: $primary;
    }

    @include media-breakpoint-down(md) {
      width: 48px;
      height: 48px;
    }

    & + & {
      margin-left: 32px;

      @include media-breakpoint-down(md) {
        margin-left: 24px;
      }
    }

    &--tw {
      background: url(../img/fest-tw.svg) no-repeat center;
    }

    &--fb {
      background: url(../img/fest-fb.svg) no-repeat center;
    }

    &--vk {
      background: url(../img/fest-vk.svg) no-repeat center;
    }

    &--ig {
      background: url(../img/fest-ig.svg) no-repeat center;
    }
  }
}
