
<div class="filters filters--result"><a class="btn btn-link btn-link--back mb-10" href="javascript:;" data-fancybox-close="data-fancybox-close">назад</a>
  <div class="h3 filters__title mb-40">Россия</div>
  <div class="score score--detail score--white mb-50 mx-auto" data-fancybox="data-fancybox" data-src="#inf_1" data-base-class="fancybox--match" data-touch="false">
    <div class="score__head text-center pb-10 w-100">
      <p class="p-md font-weight-bold">17 июня, 19:30</p>
      <p class="p-sm text-gray-dark">Рим, «Олимпико»</p>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-1.png" alt=""/>
      </div>
      <div class="score__name">w45</div>
    </div>
    <div class="score__count"> 10 : 3
      <div class="score__group p-xs text-gray-dark text-uppercase">Группа A, тур 2</div>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-2.png" alt=""/>
      </div>
      <div class="score__name">cur</div>
    </div>
  </div>
  <div class="score score--detail score--white mb-50 mx-auto">
    <div class="score__head text-center pb-10 w-100">
      <p class="p-md font-weight-bold">17 июня, 19:30</p>
      <p class="p-sm text-gray-dark">Рим, «Олимпико»</p>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-1.png" alt=""/>
      </div>
      <div class="score__name">w45</div>
    </div>
    <div class="score__count"> 10 : 3
      <div class="score__group p-xs text-gray-dark text-uppercase">Группа A, тур 2</div>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-2.png" alt=""/>
      </div>
      <div class="score__name">cur</div>
    </div>
  </div>
  <div class="score score--detail score--white mb-50 mx-auto">
    <div class="score__head text-center pb-10 w-100">
      <p class="p-md font-weight-bold">17 июня, 19:30</p>
      <p class="p-sm text-gray-dark">Рим, «Олимпико»</p>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-3.png" alt=""/>
      </div>
      <div class="score__name">w45</div>
    </div>
    <div class="score__count"> - : -
      <div class="score__group p-xs text-gray-dark text-uppercase">финал</div>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-3.png" alt=""/>
      </div>
      <div class="score__name">cur</div>
    </div>
  </div>
  <div class="score score--detail score--white mb-50 mx-auto">
    <div class="score__head text-center pb-10 w-100">
      <p class="p-md font-weight-bold">17 июня, 19:30</p>
      <p class="p-sm text-gray-dark">Рим, «Олимпико»</p>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-1.png" alt=""/>
      </div>
      <div class="score__name">w45</div>
    </div>
    <div class="score__count"> 10 : 3
      <div class="score__group p-xs text-gray-dark text-uppercase">Группа A, тур 2</div>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-2.png" alt=""/>
      </div>
      <div class="score__name">cur</div>
    </div>
  </div>
  <div class="score score--detail score--white mb-50 mx-auto">
    <div class="score__head text-center pb-10 w-100">
      <p class="p-md font-weight-bold">17 июня, 19:30</p>
      <p class="p-sm text-gray-dark">Рим, «Олимпико»</p>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-1.png" alt=""/>
      </div>
      <div class="score__name">w45</div>
    </div>
    <div class="score__count"> 10 : 3
      <div class="score__group p-xs text-gray-dark text-uppercase">Группа A, тур 2</div>
    </div>
    <div class="score__logo-wrap">
      <div class="score__logo"><img src="./img/g-2.png" alt=""/>
      </div>
      <div class="score__name">cur</div>
    </div>
  </div>
  <div class="group-item">
    <div class="group-item__head group-item__head--color-a">группа A</div>
    <table class="group-item__table">
      <tr>
        <td> 
          <div class="group-item__table-flag" style="background-image: url(./img/flag-f1.png);"></div>Россия (RUS)
        </td>
        <td>2</td>
      </tr>
      <tr>
        <td> 
          <div class="group-item__table-flag" style="background-image: url(./img/flag-f2.png);"></div>Египет (EGY)
        </td>
        <td>5</td>
      </tr>
      <tr>
        <td> 
          <div class="group-item__table-flag" style="background-image: url(./img/flag-f3.png);"></div>Саудовская Аравия (URU)
        </td>
        <td>10</td>
      </tr>
      <tr>
        <td> 
          <div class="group-item__table-flag" style="background-image: url(./img/flag-f4.png);"></div>Коста-Рика (ESP)
        </td>
        <td>1</td>
      </tr>
    </table>
  </div>
</div>