.street-view {
  position: relative;
  height: 624px;

  @include media-breakpoint-down(sm) {
    height: 362px;
  }

  &__player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  //  [class*='islets_round-button__icon'] {
  //    width: 100%;
  //    height: 100%;
  //  }

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--explained {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:before {
      position: relative;
      z-index: 2;
      display: block;
      width: 90px;
      height: 90px;
      content: '';
      background: url(../img/hand.svg) no-repeat;
      background-size: contain;
      transform: translateX(-50px);
      animation: scroll-hor 2s infinite ease-in-out;
    }

    &:after {
      position: relative;
      z-index: 2;
      margin-top: 20px;
      display: block;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: -.03em;
      content: 'Чтобы посмотреть панораму листайте влево или вправо';
      color: #fff;

      @include media-breakpoint-down(sm) {
        margin: 20px auto 0;
        max-width: 60%;
      }
    }

    .street-view__player {

      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(#000, .5);
      }
    }
  }
}

@keyframes scroll-hor {

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(-50px);
  }
}
