mixin street-view(data)
  .street-view&attributes(attributes)
    .street-view__player
      iframe.street-view__iframe(src=data.link, width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='')
    //.street-view__player(id=data.panorama_id)
      if !data.api_not_load
        script(src="https://api-maps.yandex.ru/2.1/?apikey=b1ce67ee-bf3a-4ca0-91dd-219daceac230&lang=ru_RU&amp;")
      script.
        function initPanorama() {

        }
        ymaps.ready(function () {
          // Для начала проверим, поддерживает ли плеер браузер пользователя.
          if (!ymaps.panorama.isSupported()) {
            // Если нет, то просто ничего не будем делать.
            return;
          }

          // методом panorama.createPlayer. Этот метод ищет ближайщую панораму и
          // в случае успеха создает плеер с найденной панорамой.
          ymaps.panorama.createPlayer(
            '!{data.panorama_id}',
            !{data.place},
            // Ищем воздушную панораму.
            {
              layer: 'yandex#panorama',
              scrollZoomBehavior: false,
              suppressMapOpenBlock: true,
              controls: ['panoramaName','zoomControl','fullscreenControl']
            }
          )
            .done(function (player) {
              // player – это ссылка на экземпляр плеера.
            });
        })
