.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  text-align: center;
  background-color: #009cb4;
  background-image: url(../img/loader-bg.png);
  background-repeat: no-repeat;
  background-position: center center;

  &__count {
    height: 200px;
    flex-shrink: 0;
    font-family: $font-family-bridge;
    font-size: 226px;
    line-height: 200px;
    color: #fff;

    @include media-breakpoint-down(sm) {
      height: 168px;
      font-size: 168px;
      line-height: 1;
    }
  }

  &__text {
    flex-shrink: 0;
    opacity: 1;
    font-family: $font-family-base;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    transition: $transition-base;
    animation-name: textShow;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }

  &__img-wrap {
    flex-shrink: 1;

    img {
      display: block;
      max-height: 100%;
    }
  }

  &__center {
    margin: auto 0;
  }
}

@keyframes textShow {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
