mixin loader(data)
  .loader#loader&attributes(attributes)
    .loader__center
      .loader__count 254
      .loader__text ДНЯ ДО ТУРНИРА
    .loader__img-wrap: img(src='./img/loader-img.png' alt="")
