mixin clear-cell(count)
  while count>0
    td
    - count--
mixin plan-table(data)
  .plan-table-scroll.js-custom-scroll-x.d-none.d-md-block
    table#fix-table.plan-table&attributes(attributes)
      tr
        td
        td: .p-xs 12.06
        td: .p-xs 13.06
        td: .p-xs 14.06
        td: .p-xs 15.06
        td: .p-xs 16.06
        td: .p-xs 17.06
        td: .p-xs 18.06
        td: .p-xs 19.06
        td: .p-xs 20.06
        td: .p-xs 21.06
        td: .p-xs 22.06
        td: .p-xs 23.06
        td: .p-xs 24.06
        if data && data.done
          td: .p-xs турнирная таблица
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/rim-s.png)") Рим
        td: +plan-cell({type: data.type_cell,
          group:1,
          group_name:'Группа A',
          popup: true
        })(class=data.cell_class).plan-cell--color-a
        +clear-cell(4)
        td: +plan-cell({type: data.type_cell,group:14,group_name:'Группа A'})(class=data.cell_class).plan-cell--color-a
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group:26,group_name:'Группа A'})(class=data.cell_class).plan-cell--color-a
        +clear-cell(3)
        if data && data.done
          td.plan-table__tournament-table(rowspan=2)
            +plan-cell({
              type: 'result',
              group: 'A',
              popup: true,
              result: [
                {
                  country: 'Россия (RUS)',
                  count: 10
                },
                {
                  country: 'Египет (EGY)',
                  count: 3
                },
                {
                  country: 'Саудовская Аравия (URU)',
                  count: 4
                },
                {
                  country: 'Уругвай (URU)',
                  count: 3
                }
              ]
            })(class=data.cell_class).plan-cell--color-a.plan-cell--group
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/baku-s.png)") Баку
        +clear-cell(1)
        td: +plan-cell({type: data.type_cell,group:2,group_name:'Группа A'})(class=data.cell_class).plan-cell--color-a
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group:13,group_name:'Группа A'})(class=data.cell_class).plan-cell--color-a
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group:25,group_name:'Группа A'})(class=data.cell_class).plan-cell--color-a
        +clear-cell(3)
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/peterburg-s.png)") с.-петербург
        +clear-cell(1)
        td: +plan-cell({type: data.type_cell,group:1,group_name:'Группа B'})(class=data.cell_class).plan-cell--color-b
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group:15,group_name:'Группа B'})(class=data.cell_class).plan-cell--color-b
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group:28,group_name:'Группа B'})(class=data.cell_class).plan-cell--color-b
        +clear-cell(3)
        if data && data.done
          td.plan-table__tournament-table(rowspan=2)
            +plan-cell({
              type: 'result',
              group: 'B',
              result: [
                {
                  country: 'Португалия (RUS)',
                  count: 'x'
                },
                {
                  country: 'Египет (EGY)',
                  count: 'x'
                },
                {
                  country: 'Саудовская Аравия (URU)',
                  count: 'x'
                },
                {
                  country: 'Коста-Рика (ESP)',
                  count: 'x'
                }
              ]
            })(class=data.cell_class).plan-cell--color-b.plan-cell--group
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/kopengagen-s.png)") копенгаген
        +clear-cell(1)
        td: +plan-cell({type: data.type_cell,group: 3, group_name: 'Группа B'})(class=data.cell_class).plan-cell--color-b
        +clear-cell(4)
        td: +plan-cell({type: data.type_cell,group: 16, group_name: 'Группа B'})(class=data.cell_class).plan-cell--color-b
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 27, group_name: 'Группа B'})(class=data.cell_class).plan-cell--color-b
        +clear-cell(2)
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/amsterdam-s.png)") амстердам
        +clear-cell(2)
        td: +plan-cell({type: data.type_cell,group: 5, group_name: 'Группа C'})(class=data.cell_class).plan-cell--color-c
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 17, group_name: 'Группа C'})(class=data.cell_class).plan-cell--color-c
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 29, group_name: 'Группа C'})(class=data.cell_class).plan-cell--color-c
        +clear-cell(2)
        if data && data.done
          td.plan-table__tournament-table(rowspan=2)
            +plan-cell({
              type: 'result',
              group: 'C',
              result: [
                {
                  country: 'Франция (RUS)',
                  count: 'x'
                },
                {
                  country: 'Египет (EGY)',
                  count: 'x'
                },
                {
                  country: 'Саудовская Аравия (URU)',
                  count: 'x'
                },
                {
                  country: 'Коста-Рика (ESP)',
                  count: 'x'
                }
              ]
            })(class=data.cell_class).plan-cell--color-c.plan-cell--group
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/buharest-s.png)") бухарест
        +clear-cell(2)
        td: +plan-cell({type: data.type_cell,group: 6, group_name: 'Группа C'})(class=data.cell_class).plan-cell--color-c
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 18, group_name: 'Группа C'})(class=data.cell_class).plan-cell--color-c
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 30, group_name: 'Группа C'})(class=data.cell_class).plan-cell--color-c
        +clear-cell(2)
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/london-s.png)") лондон
        +clear-cell(2)
        td: +plan-cell({type: data.type_cell,group: 7, group_name: 'Группа D'})(class=data.cell_class).plan-cell--color-d
        +clear-cell(4)
        td: +plan-cell({type: data.type_cell,group: 20, group_name: 'Группа D'})(class=data.cell_class).plan-cell--color-d
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 32, group_name: 'Группа D'})(class=data.cell_class).plan-cell--color-d
        +clear-cell(1)
        if data && data.done
          td.plan-table__tournament-table(rowspan=2)
            +plan-cell({
              type: 'result',
              group: 'D',
              result: [
                {
                  country: 'Бразилия (RUS)',
                  count: 'x'
                },
                {
                  country: 'Египет (EGY)',
                  count: 'x'
                },
                {
                  country: 'Саудовская Аравия (URU)',
                  count: 'x'
                },
                {
                  country: 'Коста-Рика (ESP)',
                  count: 'x'
                }
              ]
            })(class=data.cell_class).plan-cell--color-d.plan-cell--group
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/glazgo-s.png)") ГЛAЗГО
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 8, group_name: 'Группа D'})(class=data.cell_class).plan-cell--color-d
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 19, group_name: 'Группа D'})(class=data.cell_class).plan-cell--color-d
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 31, group_name: 'Группа D'})(class=data.cell_class).plan-cell--color-d
        +clear-cell(1)
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/bilbao-s.png)") БИЛЬБAО
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 9, group_name: 'Группа E'})(class=data.cell_class).plan-cell--color-e
        +clear-cell(4)
        td: +plan-cell({type: data.type_cell,group: 22, group_name: 'Группа E'})(class=data.cell_class).plan-cell--color-e
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 33, group_name: 'Группа E'})(class=data.cell_class).plan-cell--color-e
        if data && data.done
          td.plan-table__tournament-table(rowspan=2)
            +plan-cell({
              type: 'result',
              group: 'E',
              result: [
                {
                  country: 'Исландия (RUS)',
                  count: 'x'
                },
                {
                  country: 'Египет (EGY)',
                  count: 'x'
                },
                {
                  country: 'Саудовская Аравия (URU)',
                  count: 'x'
                },
                {
                  country: 'Коста-Рика (ESP)',
                  count: 'x'
                }
              ]
            })(class=data.cell_class).plan-cell--color-e.plan-cell--group
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/dublin-s.png)") ДУБЛИН
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 10, group_name: 'Группа E'})(class=data.cell_class).plan-cell--color-e
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 21, group_name: 'Группа E'})(class=data.cell_class).plan-cell--color-e
        +clear-cell(4)
        td: +plan-cell({type: data.type_cell,group: 34, group_name: 'Группа E'})(class=data.cell_class).plan-cell--color-e
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/munhen-s.png)") Мюнхен
        +clear-cell(4)
        td: +plan-cell({type: data.type_cell,group: 12, group_name: 'Группа F'})(class=data.cell_class).plan-cell--color-f
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 23, group_name: 'Группа F'})(class=data.cell_class).plan-cell--color-f
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 36, group_name: 'Группа F'})(class=data.cell_class).plan-cell--color-f
        if data && data.done
          td.plan-table__tournament-table(rowspan=2)
            +plan-cell({
              type: 'result',
              group: 'F',
              result: [
                {
                  country: 'Германия(RUS)',
                  count: 'x'
                },
                {
                  country: 'Египет (EGY)',
                  count: 'x'
                },
                {
                  country: 'Саудовская Аравия (URU)',
                  count: 'x'
                },
                {
                  country: 'Коста-Рика (ESP)',
                  count: 'x'
                }
              ]
            })(class=data.cell_class).plan-cell--color-f.plan-cell--group
      tr
        td.plan-table__fix-left: .plan-table__city.p-xs(style="background-image: url(./img/budapeht-s.png)") Будапешт
        +clear-cell(4)
        td: +plan-cell({type: data.type_cell,group: 11, group_name: 'Группа F'})(class=data.cell_class).plan-cell--color-f
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 24, group_name: 'Группа F'})(class=data.cell_class).plan-cell--color-f
        +clear-cell(3)
        td: +plan-cell({type: data.type_cell,group: 35, group_name: 'Группа F'})(class=data.cell_class).plan-cell--color-f
