.plan-table {
  width: 100%;

  td {
    background-color: transparent;
  }

  > tbody > tr {

    > td {
      padding: 0;
      border: 1px solid $blue-light;

      &:first-child {
        background-color: transparent !important;
        border-left: none;
      }
    }

    &:first-child {

      td {
        padding: 5px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, .08);
      }

      td:first-child {
        background-color: transparent !important;
        border: none;
      }
    }
  }

  &__city {
    position: relative;
    z-index: 1;
    padding-right: 20px;
    padding-left: 60px;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: darken($primary, 5%);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 48px;
    border-left: 1px solid $blue-light;
  }

  &__fix-left {
    width: 164px;
  }

  &__tournament-table {
    width: 185px;

    .plan-cell__list {

      a {
        display: block;
        max-width: 160px;
      }
    }
  }
}
