.section-color {
  position: relative;
  padding: 160px 0;
  color: #ffffff;
  background: transparent url(../img/section-color-bg.jpg) center center no-repeat;
  background-size: cover;

  @include media-breakpoint-down(md) {
    padding: 120px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 80px 0;
  }

  &__right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;

    @include media-breakpoint-down(md) {
      position: static;
      width: 60%;
      order: 2;
      align-self: flex-end;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 50px;
      width: 100%;
    }

    img {
      max-height: 100%;
    }
  }

  &__label {
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(#ffffff, .2);
  }

  &--fact {
    padding: 150px 0;

    @include media-breakpoint-down(sm) {
      padding: 80px 0;
    }

    .section-color__label {

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &--event {
    padding: 80px 0;
    display: flex;
    min-height: 600px;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding: 140px 0 0;
      min-height: inherit;
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      padding: 100px 0 0;
    }

    h3 {
      font-size: 48px;
      line-height: 56px;

      @include media-breakpoint-down(xs) {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }

  &--place {
    padding: 80px 0;
    display: flex;
    //    min-height: 600px;
    align-items: center;

    @include media-breakpoint-down(md) {
      //      padding: 140px 0 0;
      min-height: inherit;
      flex-direction: column;
    }

    h3 {

      @include media-breakpoint-down(md) {
        font-size: 48px;
        line-height: 56px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 32px;
        line-height: 40px;
      }
    }

    .section-color__right-bottom {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-end;

      @include media-breakpoint-down(md) {
        margin-top: -100px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }

      img {

        @include media-breakpoint-down(md) {
          margin-bottom: -80px;
        }
      }
    }
  }

  &--num-text {

    .num {
      margin-right: 15px;
      float: left;
      font-size: 156px;
      line-height: 96px;

      @include media-breakpoint-down(md) {
        font-size: 116px;
        line-height: 72px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 96px;
        line-height: 64px;
      }
    }
  }

  &--quote {

    .block-quote {
      padding: 0;

      > .row {
        flex-wrap: nowrap;

        @include media-breakpoint-down(sm) {
          flex-flow: row wrap;
        }
      }

      &__icon {
        margin: 0 0 24px;
      }

      &__text {
        align-self: flex-end;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }

      &__img {
        margin-left: 110px;
        min-width: 300px;

        @include media-breakpoint-down(md) {
          margin-left: 40px;
        }

        @include media-breakpoint-down(sm) {
          margin: 40px auto 0;
        }

        @include media-breakpoint-down(xs) {
          min-width: inherit;
        }
      }
    }
  }

  &--yellow {
    background: transparent url(../img/section-color-bg-yellow.jpg) center center no-repeat;
    background-size: cover;

    .block-quote__icon {
      background: transparent url(../img/quote-icon-purple.svg) 0 0 no-repeat;
    }

    .text-secondary {
      color: $purple !important;
    }

    .text-gray {
      color: rgba(#fff, .5) !important;
    }
  }

  &--facto {

    .style-color__left {

      @include media-breakpoint-down(md) {
        margin-bottom: 40px;
        float: none;
        width: 100%;
      }
    }

    .style-color__right {

      @include media-breakpoint-down(md) {
        margin: 0 0 40px;
        padding: 0;
        float: none;
        width: 100%;
      }
    }
  }
}

.style-color {

  &__left {
    position: relative;
    z-index: 1;
    padding: 0;
    float: left;
    width: 240px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
      float: none;
      width: 100%;
    }
  }

  &__right {
    margin: 0 0 0 -240px;
    padding: 0 0 0 300px;
    float: left;
    width: 100%;

    @include media-breakpoint-down(sm) {
      margin: 0 0 40px;
      padding: 0;
      float: none;
      width: 100%;
      order: 1;
    }
  }
}
