mixin section-color(data)
  .section-color&attributes(attributes) 
    if data.style==='num-text'
      .container: div
        .num.flex-shrink-0= data.num
        p !{data.text}
    if data.style==='place'
      .section-color__right-bottom: img(src=`./img/${data.img}` alt="")
      .container: .row: .col-lg-7
        p.p-md.mb-10
          <svg class="align-middle" width="12" height="16" viewBox="0 0 12 16" fill="none">
          <path d="M5.99967 0C2.80452 0 0.205078 2.59944 0.205078 5.79456C0.205078 9.75981 5.39067 15.581 5.61145 15.8269C5.81883 16.0579 6.18089 16.0575 6.38789 15.8269C6.60867 15.581 11.7943 9.75981 11.7943 5.79456C11.7942 2.59944 9.1948 0 5.99967 0ZM5.99967 8.70997C4.39211 8.70997 3.0843 7.40213 3.0843 5.79456C3.0843 4.187 4.39214 2.87919 5.99967 2.87919C7.6072 2.87919 8.91502 4.18703 8.91502 5.79459C8.91502 7.40216 7.6072 8.70997 5.99967 8.70997Z" fill="currentColor"/>
          </svg>
          span.align-middle.pl-5 !{data.address}
        h3.mb-30 !{data.title}
        a.btn.btn-link.btn-link--detail.btn-link--secondary(href="#" data-fancybox data-touch="false" data-src=`#street-view` data-base-class="fancybox--street").
          <span class="d-none d-sm-inline-block">посмотреть место в режиме просмотра улиц</span>
          <span class="d-sm-none">посмотреть место на карте</span>
          <svg width="9" height="12" viewBox="0 0 9 12">
          <path d="M0 1.86852C0 1.06982 0.890145 0.59343 1.5547 1.03647L7.75192 5.16795C8.34566 5.56377 8.34566 6.43623 7.75192 6.83205L1.5547 10.9635C0.890146 11.4066 0 10.9302 0 10.1315V1.86852Z"/>
          </svg>
      .d-none: +street-view({        
        link: 'https://www.google.com/maps/embed?pb=!4v1574403407248!6m8!1m7!1sQDUQ3C7N9x4AAAQrBntOfw!2m2!1d48.21904059225844!2d11.62415120990113!3f74.94815657936375!4f0.9269437427733038!5f0.7820865974627469'
      })#street-view
    if data.style==='quote'
      .container: +block-quote({
        title: data.title,
        author: data.author,
        structure: true
      })
        +img-row({
          items: data.imgs
        }).img-row--one
    if data.style==='facto'
      .container: .row.no-gutters
        .style-color__left
          .num !{data.facto}
          p.p-md.mt-10 !{data.text}
        .style-color__right
          .num !{data.facto_2}
          if data.text_2
            p.p-md.mt-10 !{data.text_2}
    if data.style === 'event'
      .section-color__right-bottom: img(src=`./img/${data.img}` alt="")
      .container: .row: .col-12.col-lg-6
        h3 !{data.title}
    if data.style === 'fact'
      .container
        .text-center.mb-40: .section-color__label интересный факт
        p.text-center.font-weight-semi !{data.text}
