mixin search(data)
  form.search#search&attributes(attributes): .search__body
    .form-group
      input.form-control.text-white(type="text" 
        placeholder="Поиск по сайту"
        oninput="demoResult()"
        )
      button(type="reset").btn.btn-clear
        svg(width='28', height='28', viewBox='0 0 28 28', fill='none')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M14 28C21.732 28 28 21.732 28 14C28 6.26802 21.732 0 14 0C6.26801 0 0 6.26802 0 14C0 21.732 6.26801 28 14 28ZM8.29291 9.70711L12.5858 14L8.29291 18.2929L9.70709 19.7071L14 15.4142L18.2929 19.7071L19.7071 18.2929L15.4142 14L19.7071 9.70711L18.2929 8.29289L14 12.5858L9.70709 8.29289L8.29291 9.70711Z', fill='currentColor')
    #search-result.search__result
      .search__count.p-md.mb-50 Найдено 20 результатов
      .search__item
        a.search__link(href="#")
          img(src="./img/search__icon.svg" alt="").mr-10
          span.align-middle <b>Стадионы </b> Евро-2020
        p.
          Он станет самым масштабным по целому ряду показателей и пройдет не в одной или двух странах, как бывало прежде, а на 12 <b>стадионах</b> 12 городов 12 национальных ассоциаций УЕФА. Рассказываем, в чем уникальность каждой из арен ЕВРО-2020.
      .search__item
        a.search__link(href="#") «Олимпийский <b>стадион</b>»
        p.
          Арена построена неподалеку от озера Бёюк-Шор в южной части города. Рядом — станция метро «Кероглу», до которой прямо от стадиона сооружен удобный переход (5-10 минут пешком).
      .search__item
        a.search__link(href="#") «Хэмпден Парк»
        p.
          При реконструкции <b>стадиона</b> в конце 90-х решено было сохранить историческую форму чаши. Поэтому расстояние от задних рядов за воротами до кромки поля составляет 140 метров.
      .search__item
        p.mb-15: b По запросу «ММосква» ничего не найдено.
        ul.p
          li Проверьте правильность написания 
          li Попробуйте иначе сформулировать запрос
          li Попробуйте уменьшить количество слов в запросе
      +pagination
