.search {
  width: 100%;
  min-height: 100vh;
  background-color: $purple;
  background-image: url(../img/pattern-purple.png);
  background-size: cover;

  input.form-control {

    @include placeholder {
      text-transform: none;
    }
  }

  &__body {
    padding: 120px 144px 90px;

    @include media-breakpoint-down(lg) {
      padding: 128px 48px 90px;
    }

    @include media-breakpoint-down(md) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }

  &__result {
    padding-top: 15px;
    display: none;
    color: #fff;
  }

  &__item {
    margin-bottom: 40px;

    ul {

      li {

        & + li {
          margin-top: 12px;
        }
      }
    }
  }

  &__link {
    margin-bottom: 12px;
    display: inline-block;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -.03em;
    color: $secondary;

    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 28px;
    }

    img {
      vertical-align: middle;
    }

    &:hover {
      opacity: .7;
      color: $secondary;
    }
  }

  .form-control {
    padding-bottom: 0;
    height: 60px;
    font-size: 40px;
    line-height: 56px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, .2);

    @include media-breakpoint-down(sm) {
      height: 50px;
      font-size: 24px;
      line-height: 40px;
    }

    @include placeholder {
      font-size: 1em;
    }
  }
}
