mixin img-block(data)
  a.img-block(href="./img/" + data.img, data-fancybox="gallery")&attributes(attributes)
    //img.w-100(src=`./img/${data.img}` alt="")
    img.w-100.lazy(data-src=`./img/${data.img}`, alt="")
    .img-block__caption !{data.caption}
