.img-block {
  position: relative;
  margin: 0;
  display: block;

  @include media-breakpoint-down(xs) {
    margin-bottom: 50px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 400px;
    opacity: .7;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 79.87%);

    @include media-breakpoint-down(md) {
      height: 215px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__caption {
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 40px;
    font-size: 12px;
    text-transform: uppercase;
    color: $gray;

    @include media-breakpoint-down(sm) {
      bottom: 20px;
      left: 24px;
    }

    @include media-breakpoint-down(xs) {
      position: static;
      margin-top: 10px;
      padding: 0 24px;
    }
  }
}
