mixin fest-front(data)
  .fest-front&attributes(attributes)
    .fest-front__header-wrapper
      .container
        .fest-front__header
          +logo
          a.fest-front__share(href="#") Поделиться
    .container
      .fest-front__wrapper
        .fest-front__content
          h1.fest-front__title.text-white.mb-15 ФЕСТИВАЛЬ БОЛЕЛЬЩИКОВ ЕВРО-2020
          p.text-white.fest-front__dscr.mb-25.mb-xs-30 Фестивали болельщиков — серия многодневных мероприятий в городах, принимающих чемпионат мира по футболу под эгидой Международной федерации футбола. Фестивали открыты для всех посетителей и предлагают участникам трансляции
          a.btn.btn-white(href="#") Найти фестиваль
        .fest-front__picture
          img.fest-front__russia(src="./img/fest-russia.png", alt)
          img.fest-front__players(src="./img/fest-players-2.png", alt)
