.fest-front {
  position: relative;
  padding: 100px 0;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background: $primary;
  background-size: cover;

  @include media-breakpoint-down(lg) {
    min-height: calc(100vh - 64px);
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 64px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 40px;
    min-height: 0;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .25;
    content: '';
    background: url(../img/blue-pattern.png) no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
  }

  &:after {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 25px;
    content: '';
    background: linear-gradient(90deg, #6eab27 0%, #95c23d 50%, #aecc53 100%);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;

    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__header-wrapper {
    position: absolute;
    z-index: 2;
    top: 28px;
    left: 0;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__share {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.15;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .7;
      color: #fff;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0;
    }

    &:before {
      margin-right: 12px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
      background: url(../img/fest-share.svg) no-repeat;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
  }

  &__content {
    padding-bottom: 16px;
    max-width: 340px;

    @media (max-width: 1199px) {
      max-width: 400px;
    }

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    .btn {

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &__title {
    font-size: 50px;
    line-height: 1.2;

    @media (max-width: 1199px) {
      font-size: 40px;
      line-height: 1.2;
    }

    @include media-breakpoint-down(sm) {
      font-size: 32px;
      line-height: 1.2;
    }
  }

  &__dscr {
    font-size: 20px;
    line-height: 1.5;

    @media (max-width: 1199px) {
      font-size: 16px;
      line-height: 1.33;
    }
  }

  &__picture {
    position: relative;
    margin-left: 50px;
    flex-shrink: 1;
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      margin-left: 20px;
      flex-grow: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      margin-left: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      height: 254px;
    }
  }

  &__russia {
    position: absolute;
    top: -45px;
    left: -10px;
    max-width: 955px;

    @include media-breakpoint-down(md) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-breakpoint-down(sm) {
      top: 0;
      height: 254px;
    }
  }

  &__players {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    max-width: 100%;

    @include media-breakpoint-down(sm) {
      max-width: 370px;
    }
  }
}
