.fest-event-article {
  position: absolute;
  z-index: 3;
  top: 0;
  left: calc(40vw + 432px);
  padding: 48px 40px;
  display: none;
  overflow: auto;
  width: 100%;
  max-width: 432px;
  height: 100vh;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);

  @include media-breakpoint-down(lg) {
    left: calc(100vw - 432px);
  }

  @include media-breakpoint-down(md) {
    left: calc(100vw - 328px);
    width: calc(100vw - calc(100vw - 328px));
  }

  @include media-breakpoint-down(sm) {
    z-index: 5;
    right: auto;
    left: 0;
    padding: 64px 24px;
    width: 100%;
    max-width: none;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/fest-close-color.svg) no-repeat;
    background-size: contain;
  }

  &__content {
  }

  &__timeline {
    margin-top: 16px;
  }

  &__timeline-item {
    margin-bottom: 32px;
    display: flex;
    align-items: flex-start;

    &:last-child {

      .fest-event-article__dot {

        &:after {
          display: none;
        }
      }
    }
  }

  &__timeline-time {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  &__dot {
    position: relative;
    margin: 0 16px;
    margin-top: 5px;
    width: 11px;
    height: 11px;
    flex-shrink: 0;
    background: $primary;
    border-radius: 50%;

    &:after {
      position: absolute;
      top: 10px;
      left: calc(50% - 1px);
      display: block;
      width: 1px;
      height: 45px;
      content: '';
      border-left: 1px dashed $primary;
    }
  }

  &__name {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  &--all {
    z-index: 4;
  }
}
