mixin fest-event-article(data)
  .fest-event-article.slide-left&attributes(attributes)
    a.fest-event-article__close(href="#")
    .fest-event-article__content
      +fest-event({
        date: '17',
        time: 'c 12:30 до 00:30'
      }).fest-event--article
      p.p--sm.mb-30 Здесь вас ждет онлайн-трансляция матча Россия – Бельгия. Чемпионат Европы. Отборочный турнир, Группа I, ответный матч. 
      p.p--sm.text-uppercase.font-weight-semi Программа
      .fest-event-article__timeline
        .fest-event-article__timeline-item
          .fest-event-article__timeline-time 15:00
          .fest-event-article__dot
          .fest-event-article__name Открытие
        .fest-event-article__timeline-item
          .fest-event-article__timeline-time 17:30
          .fest-event-article__dot
          .fest-event-article__name Going Deeper
        .fest-event-article__timeline-item
          .fest-event-article__timeline-time 20:00
          .fest-event-article__dot
          .fest-event-article__name Скруджи
        .fest-event-article__timeline-item
          .fest-event-article__timeline-time 21:00
          .fest-event-article__dot
          .fest-event-article__name Матч Франция — Бельгия
      a.btn.btn-outline-primary.font-weight-bold.w-100.py-10(href="#") Поделиться с друзьями
