.error {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .75;
    content: '';
    background: url(../img/blue-pattern.png) no-repeat;
    background-size: cover;
  }

  &:after {
    padding-top: 26.11%;
    display: block;
    width: 100%;
    content: '';
    background: url(../img/error-bg.png) no-repeat bottom left;
    background-size: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
  }

  &__number {
    margin-bottom: 15px;
    font-family: $font-family-bridge;
    font-size: 226px;
    line-height: .88;
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 140px;
    }
  }

  &__dscr {
    margin-bottom: 30px;
    opacity: .5;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -.03em;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 1.6;
    }
  }
}
