extends ../templates/template.pug
block content
  +header
  main.page-content.page-content--purple
    .container.px-xl-0.mx-xl-0: .row.no-gutters: .col-xl-9
      h1.text-white.mt-60.mt-xl-100.mb-20 О Турнире
      p.text-white.p--semi-transparent.mb-15.
        ЕВРО-2020 будет уникальным по многим показателям: по своим географии, логистике, объему, национальным особенностям. 12 городов, где пройдут матчи турнира. 12 современных арен. 11 европейских культур. И 24 сборные-участницы турнира.
      p.text-white.p--semi-transparent.mb-50.
        ЕВРО-2020 – это не только футбол. Это нечто гораздо большее.
    +event-list
    .container.px-xl-0: +pagination.mt-40.pb-60.pb-xl-100
  +footer
