include ../templates/blocks
.filters.filters--result
  a(href="javascript:;" data-fancybox-close).btn.btn-link.btn-link--back.mb-10 назад
  .h3.filters__title.mb-40 Амстердам
  +score({
    head: {
      date: '17 июня, 19:30',
      place: 'Рим, «Олимпико»'
    },
    logo1: {
      img: 'g-1.png',
      name: 'w45'
    },
    logo2: {
      img: 'g-2.png',
      name: 'cur'
    },
    score: '10 : 3',
    group: 'Группа A, тур 2'
  }).score--detail.score--white.mb-50.mx-auto(data-fancybox data-src="#inf_1" data-base-class="fancybox--match" data-touch="false")
  +score({
    head: {
      date: '17 июня, 19:30',
      place: 'Рим, «Олимпико»'
    },
    logo1: {
      img: 'g-1.png',
      name: 'w45'
    },
    logo2: {
      img: 'g-2.png',
      name: 'cur'
    },
    score: '10 : 3',
    group: 'Группа A, тур 2'
  }).score--detail.score--white.mb-50.mx-auto
  +score({
    head: {
      date: '17 июня, 19:30',
      place: 'Рим, «Олимпико»'
    },
    logo1: {
      img: 'g-3.png',
      name: 'w45'
    },
    logo2: {
      img: 'g-3.png',
      name: 'cur'
    },
    score: '- : -',
    group: 'финал'
  }).score--detail.score--white.mb-50.mx-auto
  +score({
    head: {
      date: '17 июня, 19:30',
      place: 'Рим, «Олимпико»'
    },
    logo1: {
      img: 'g-1.png',
      name: 'w45'
    },
    logo2: {
      img: 'g-2.png',
      name: 'cur'
    },
    score: '10 : 3',
    group: 'Группа A, тур 2'
  }).score--detail.score--white.mb-50.mx-auto
  +score({
    head: {
      date: '17 июня, 19:30',
      place: 'Рим, «Олимпико»'
    },
    logo1: {
      img: 'g-1.png',
      name: 'w45'
    },
    logo2: {
      img: 'g-2.png',
      name: 'cur'
    },
    score: '10 : 3',
    group: 'Группа A, тур 2'
  }).score--detail.score--white.mb-50.mx-auto
