extends ../templates/template.pug
block content
  .container.py-50: .row: .col-md-4.mx-auto
    h2.mb-20.pb-10.border-bottom Список страниц
    ul.pl-0(style="list-style: none;font-size: 20px;")
      li: a.d-block.my-20(href="main.html") Главная
      li: a.d-block.my-20(href="category.html") Категории
      li: a.d-block.my-20(href="page.html") Страница базового материала
      li: a.d-block.my-20(href="stadiums.html") Разводящая страница стадионов
      li: a.d-block.my-20(href="stadium-page.html") Cтраница стадионa
      li: a.d-block.my-20(href="plan.html") Расписание матчей
      li: a.d-block.my-20(href="plan-done.html") Расписание матчей (после жеребьёвки)
      li: a.d-block.my-20(href="404.html") 404
      li: a.d-block.my-20(href="festivals.html") Фестивали
      li: a.d-block.my-20(href="festivals-map.html") Карта фестивалей
