extends ../templates/template.pug
block content
  +header
  main.row.no-gutters
    .col-xl-6.order-1.order-xl-0: .left-scroll
      .row.no-gutters.d-sm-none
        .col-6.border-right: +event({
          title: 'Расписание'
        }).event--purple.event--link
        .col-6: +event({
          title: 'Купить билет'
        }).event--green.event--link
      .row.no-gutters.row--events
        .col-sm-6: +event({
          img: 'ev-1.jpg',
          title: 'Как создавали талисман и стиль чемпионата',
          type: 'Интервью'
        })
        .col-sm-6: +event({
          img: 'ev-2.jpg',
          title: 'евро 2020 <br>в вопросах <br>и ответах',
          type: 'Статья',
        }).event--purple
      +video-link({
        img: './img/video-1.png',
        title: 'Презентация <br> <span class="text-secondary d-block">евро 2020</span>'
      })
      .row.no-gutters.d-sm-none
        .col-6.border-right: +event({
          title: 'организация'
        }).event--purple.event--link
        .col-6: +event({
          title: 'волонтерам'
        }).event--purple-light.event--link
      .row.no-gutters.d-none.d-sm-flex
        .col-6.border-right: +event({
          title: 'Расписание'
        }).event--purple.event--link
        .col-6: +event({
          title: 'Купить билет'
        }).event--green.event--link
      +video-link({
        img: './img/video-2.png',
        title: "Новости",
        modifier: 'video-link--tab'
      }).video-link--news
      .row.no-gutters.row--events
        .col-sm-6: +event({
          img: 'ev-3.jpg',
          title: 'Месси рассказал как готовиться к турниру',
          type: 'Интервью'
        })
        .col-sm-6: +event({
          img: 'ev-4.jpg',
          title: 'Наши соперники в отборочном цикле',
          type: 'Статья'
        }).event--purple
      +subs
      .row.no-gutters
        .col-6.border-right: +event({
          title: 'организация'
        }).event--purple.event--link
        .col-6: +event({
          title: 'волонтерам'
        }).event--purple-light.event--link
    .col-xl-6: +right-slide
  +footer
