extends ../templates/template.pug
block content
  +progress-page
  +up
  header.d-none.d-sm-block: +fix-top
  +header.d-block.d-sm-none
  main.bg-gray
    script(src="https://api-maps.yandex.ru/2.1/?apikey=b1ce67ee-bf3a-4ca0-91dd-219daceac230&lang=ru_RU&amp;")
    +front({
      img: 'front-hor.png',
      title: '',
      text: '',
      time: ''
    }).front--horizontal
    +section-color({
      style: 'num-text',
      num: '3',
      text: 'аслуженный тренер СССР и России по фигурному катанию Алексей Мишин рассказываето наиболее значимых для себя местах Санкт-Петербурга – города, который в 2020 году примет матчи чемпионата Европы по футболу.'
    }).section-color--num-text
    .container: +block-quote({
      photo: 'photo-1.png',
      author: 'Алексей Мишин',
      role: 'Cоветский спортсмен и тренер. Он завоевывал награды как фигурист и способствовал получению признанияв международном сообществе российских мастеров.',
      quote: true,
      text: 'Думаю, что своеобразными эмблемами того или иного города можно считать определенные виды спорта. Для Санкт-Петербурга такой эмблемой, на мой взгляд,  является футбол и наша команда «Зенит». Все мы – и фигуристы,и конькобежцы, и борцы, и гребцы – будем рады посетить матчи чемпионата Европы по футболу в Санкт-Петербурге. <br> <br>Хочу пожелать удачи и успеха нашей сборной. Уверен, что в 2020 годунас ждет второй такой праздник, каким явился чемпионат мира, с успехом прошедший в том числе и в нашем великом городе. Именно этого я ждуот предстоящего чемпионата Европы.'
    }).block-quote--reorder.my-60.my-md-120.my-lg-160
    +section-color({
      style: 'place',
      panorama: 'panorama_2',
      img: 'place-1.png',
      address: 'Санкт-Петербург, Лейтенанта Шмидта, 27',
      title: 'ХРАМ УСПЕНИЯ ПРЕСВЯТОЙ БОГОРОДИЦЫ НА ВАСИЛЬЕВСКОМ ОСТРОВЕ'
    }).section-color--place
    .container.py-60.py-md-100: .row
      .col-md-4.col-lg-3.pr-xl-50.pb-60.pb-md-0
        .small-upper Там крестили детей моих друзей
      .col-md-8.col-lg-9.pl-xl-50: p.
        Еще одно место, которое живет глубоко в моем сердце, это церковь на набережной Лейтенанта Шмидта. Православная церковь на Васильевском острове, которая была построена подворьем Киево-Печерской лавры.
    +img-block({
      img: 'page-img-1.jpg',
      caption: 'Larissa Bergemann/Dreamstime.com'
    })
    .container
      +block-quote({
        photo: 'photo-2.jpg',
        role: 'В 1956 году был организован первый каток с искусственным льдом в Санкт-Петербурге.',
        quote: false,
        text: 'А когда-то в этой церкви был первый в Санкт-Петербурге каток с искусственным льдом: он был организован в 1956 году по личному распоряжению Анастаса Микояна. Там занимались все, чья душа принадлежала и принадлежит фигурному катанию. Там тренировались Нина Алексеевна и Станислав Алексеевич Жук, олимпийские чемпионы Олег Алексеевич Протопопов и Людмила Евгеньевна Белоусова, мы с Тамарой Николаевной Москвиной.<br><br>А когда-то в этой церкви был первый в Санкт-Петербурге каток с искусственным льдом: он был организован в 1956 году по личному распоряжению Анастаса Микояна. Там занимались все, чья душа принадлежала и принадлежит фигурному катанию. Там тренировались Нина Алексеевна и Станислав Алексеевич Жук, олимпийские чемпионы Олег Алексеевич Протопопов и Людмила Евгеньевна Белоусова, мы с Тамарой Николаевной Москвиной.'
      }).my-60.my-md-100
      +img-row({
        items: [
          {
            img: 'img-p1.jpg',
            band: 'band',
            col: 'img-row__col-md',
            caption: 'Денисенко/Sputnik'
          },
          {
            img: 'img-p2.jpg',
            col: 'img-row__col-lg',
            caption: 'Денисенко/Sputnik'
          }
        ]
      }).mb-60.mb-md-90
    +section-color({
      style: 'quote',
      title: 'При посещении Питера обязательно доберитесь до этого храма. Он особенно хорош своими куполами в солнечную погоду',
      author: 'говорит, — Алексей Мишин',
      imgs: [{
        img: 'img-p3.jpg',
        band: 'band',
        caption: 'Misha Goncharov/Dreamstime.com '
      }]
    }).section-color--quote
    .container
      +block-quote({
        history: true,
        year: 'в <span>1956</span> году',
        role: 'Был организован первый каток с искусственным льдом.',
        text: 'Там работали наши великие тренеры прошлого, в том числе легенда нашего фигурного катания Петр Петрович Орлов. Когда-то там был склад, а сейчас,к счастью, это действующая церковь. После того как в 1967 году был построен Дворец спорта "Юбилейный", на катке уже тренировались дети,там проводились новогодние елки.'
      }).block-quote--history.mt-60.mt-md-120.mb-60.mb-md-100
      +img-row({
        items: [
          {
            img: 'img-p4.jpg',
            col: 'img-row__col-50',
            caption: 'Владимир Астапкович/Sputnik'
          },
          {
            img: 'img-p5.jpg',
            col: 'img-row__col-50',
            caption: 'Владимир Астапкович/Sputnik'
          }
        ]
      })
      +block-quote({
        history: true,
        year: 'с <span>1967</span> года',
        role: 'На катке устраивали новогодние елки.',
        text: 'Когда-то там был склад, а сейчас, к счастью, это действующая церковь.После того как в 1967 году был построен Дворец спорта "Юбилейный",на катке уже тренировались дети, там проводились новогодние елки. Однако состояние храма ухудшалось, зданию требовался ремонт, стены были повреждены грибком и разрушались. Чтобы решить финансовые проблемы,в здании катка были открыты сначала бани, а затем — цветочная плантациядля продаж.\n' +
          'К середине 2013 года церковь снаружи и внутри была полностью восстановлена, и 15 сентября патриархом Кириллом храм был освящён великим чином.'
      }).block-quote--history.mt-30.mt-md-70
      +block-quote({
        history: true,
        year: 'в <span>2013</span> году',
        role: 'Храм был освящен патриархом Кириллом.',
        text: 'К середине 2013 года церковь снаружи и внутри была полностью восстановлена, и 15 сентября патриархом Кириллом храм был освящён великим чином.'
      }).block-quote--history.mt-20.mb-60.mb-md-80.mb-lg-120
    +gallery({
      images: ['gallery-pic-1.jpg', 'gallery-pic-2.jpg', 'gallery-pic-3.jpg', 'gallery-pic-2.jpg', 'gallery-pic-3.jpg', 'gallery-pic-2.jpg', 'gallery-pic-3.jpg', 'gallery-pic-2.jpg', 'gallery-pic-3.jpg', 'gallery-pic-2.jpg', 'gallery-pic-3.jpg'],
      text: 'Фото подворья и Успения Пресвятой Богородицы',
      label: 'Larissa Bergemann/Dreamstime.com',
      thumbs: ['gallery-nav-1.png', 'gallery-nav-2.png', 'gallery-nav-3.png']
    })
    +section-color({
      style: 'place',
      panorama: 'panorama_3',
      img: 'place-2.png',
      address: 'Санкт-Петербург, Лейтенанта Шмидта, 27',
      title: 'ДВОРЕЦ СПОРТА <br>«ЮБИЛЕЙНЫЙ»'
    }).section-color--place
    .container: +block-quote({
      history: true,
      year: 'в <span>1967</span> году',
      role: 'Открытие дворца спорта «Юбилейный».',
      title: 'ленинградское фигурное катание',
      text: 'Я вошел в этот замечательный дворец в день открытия в 1967 году и постоянно возвращаюсь оттуда с тренировок и сегодня. Он удивителенне тем, что является каким-то примечательным достижением архитектуры. Это место, освященное ногами и коньками гениев фигурного катания. Все ленинградское фигурное катание вышло из этого дворца, концентрировалось в этом замечательном месте: на его льду, на его ступенях, под его сводами.'
    }).block-quote--history.mt-60.mt-md-100.mt-lg-140.mb-40.mb-md-60.mb-lg-100
    +img-block({
      img: 'page-img-2.jpg',
      caption: 'Larissa Bergemann/Dreamstime.com'
    })
    +section-color({
      style: 'quote',
      title: 'На льду «Юбилейного» выросли такие знаменитые спортсмены, как Евгений Плющенко, Елена Бережная и Антон Сихарулидзе, Алексей Урманов и Алексей Ягудин.',
      author: 'говорит, — Алексей Мишин',
      imgs: [{
        img: 'img-p6.jpg',
        band: 'band',
        caption: 'Misha Goncharov/Dreamstime.com '
      }]
    }).section-color--quote.section-color--yellow
    .container
      +block-quote({
        video: 'video-sm.jpg',
        role: 'В 2016 году этот дворец принял матчи чемпионата мирапо хоккею.',
        quote: false,
        text: 'В разное время там проводили свои матчи петербургские баскетбольные клубы, хоккейный СКА, проходили международные соревнования и по другим олимпийским видам спорта. Также там проводился чемпионат Россиипо фигурному катанию. <br><br>И все-таки не хоккеистам Ленинград был обязан появлением дворца спорта. Хоккейный СКА в те годы был средненькой командой на всесоюзном уровне,в то время как фигуристы у нас были экстра-класса, прежде всего олимпийские чемпионы Людмила Белоусова и Олег Протопопов. До «Юбилейного» чемпионы тренировались в церкви Успения Пресвятой Богородицына набережной Лейтенанта Шмидта. После революции храм использовалсякак спортивный зал, во времена Хрущева его передали в первыйв Ленинграде закрытый каток.'
      }).mt-60.mt-md-80.mt-lg-120.mb-40.mb-md-60.mb-lg-100
      +img-row({
        items: [
          {
            img: 'row-img-1.jpg',
            col: 'img-row__col-50',
            band: 'band',
            caption: 'Владимир Астапкович/Sputnik'
          },
          {
            img: 'row-img-2.jpg',
            col: 'img-row__col-50',
            band: 'band',
            caption: 'Владимир Астапкович/Sputnik'
          }
        ]
      }).mb-60.mb-md-90
    .container.pb-60.pb-md-100
      .row
        .col-md-4.col-lg-3.pr-xl-50.pb-60.pb-md-0
          .small-upper
        .col-md-8.col-lg-9.pl-xl-50
          p.interview
            strong То есть на легендарную ногу надеяться еще можем?
            span Пока у него ЦСКА, а там посмотрим, как все будет выглядеть в будущем.
            strong В октябре мы возвращаемся на «Лужники» матчем с Шотландией.
            span До октября у нас еще две игры, готовимся. Мы говорили, обещали, что сборная посетит все стадионы чемпионата мира. У нас остались Екатеринбург и Волгоград. Шотландию мы не могли здесь не принять, а Бельгию примем в Санкт-Петербурге. Надеемся, что наш стадион будет заполнен и мы дадим болельщикам возможность снова эти эмоции пережить.
            span Cанкт-Петербурге. Надеемся, что наш стадион будет заполнен и мы дадим болельщикам возможность снова эти эмоции пережить.
    +gallery({
      images: ['gallery-img-2.jpg', 'gallery-img-1.jpg', 'gallery-img-3.jpg'],
      text: 'Фото подворья и Успения Пресвятой Богородицы',
      label: 'Larissa Bergemann/Dreamstime.com',
      thumbs: ['gallery-nav-2.png', 'gallery-nav-1.png', 'gallery-nav-3.png']
    })
    +links-bottom
