extends ../templates/template.pug
block content
  .plan: .container-fluid
    .row.align-items-center.mb-md-30
      .col-auto.pb-15.pb-md-0: h1.h3.mb-0 Расписание <span class="d-none d-md-inline-block">матчей</span>
      .col-12.col-md-auto.order-1.order-md-0.mr-auto: ul.nav.nav-tabs
        li.nav-item: a.nav-link.active(href="#group-plan" data-toggle="tab") групповой этап
        li.nav-item: a.nav-link(href="#playoff-plan" data-toggle="tab") плей-офф
        li.nav-item.d-md-none: a.nav-link(href="#turnir-plan" data-toggle="tab") турнирная таблица
      .col-auto.pb-15.pb-md-0.ml-auto.ml-md-0
        a(href="javascript:;" onclick="window.history.back();").btn.btn-link.btn-link--close.d-none.d-md-inline-block закрыть
        a(href="javascript:;" data-fancybox data-src="#filters" data-touch="false" data-base-class="fancybox--filters" data-modal="true").btn.btn-link.btn-link--filtr.mt-5.d-md-none ФИЛЬТР
        .d-none: +filters#filters
    .tab-content
      #group-plan.tab-pane.fade.show.active
        +plan-table({})
        .d-md-none
          ul.nav.nav-tabs.nav-pills
            li.nav-item: a.nav-link.active(href="#tur1" data-toggle="tab") 1
              span.p-xs ТУР
            li.nav-item: a.nav-link(href="#tur2" data-toggle="tab") 2
              span.p-xs ТУР
            li.nav-item: a.nav-link(href="#tur3" data-toggle="tab") 3
              span.p-xs ТУР
          .tab-content.pt-40
            #tur1.tab-pane.fade.show.active
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto(data-fancybox data-src="#inf_1" data-base-class="fancybox--match" data-touch="false")
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-3.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-3.png',
                  name: 'cur'
                },
                score: '- : -',
                group: 'финал'
              }).score--detail.score--white.mb-50.mx-auto
            #tur2.tab-pane.fade
              +score({
                head: {
                  date: '17 июня, 20:30',
                  place: 'Баку, Олимпийский Стадион'
                },
                logo1: {
                  img: 'g-2.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-1.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-3.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-3.png',
                  name: 'cur'
                },
                score: '- : -',
                group: 'финал'
              }).score--detail.score--white.mb-50.mx-auto
            #tur3.tab-pane.fade
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'С.-Петербург, «Санкт-Петербург»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-3.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-3.png',
                  name: 'cur'
                },
                score: '- : -',
                group: 'финал'
              }).score--detail.score--white.mb-50.mx-auto
      #playoff-plan.tab-pane.fade
        .d-none.d-md-block: +scheme
        .d-md-none
          ul.nav.nav-tabs.nav-pills
            li.nav-item: a.nav-link.active(href="#play1" data-toggle="tab") 1/8
            li.nav-item: a.nav-link(href="#play2" data-toggle="tab") 1/4
            li.nav-item: a.nav-link(href="#play3" data-toggle="tab") 1/2
            li.nav-item: a.nav-link(href="#play4" data-toggle="tab") Ф
          .tab-content.pt-40
            #play1.tab-pane.fade.show.active
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-3.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-3.png',
                  name: 'cur'
                },
                score: '- : -',
                group: 'финал'
              }).score--detail.score--white.mb-50.mx-auto
            #play2.tab-pane.fade
              +score({
                head: {
                  date: '17 июня, 20:30',
                  place: 'Баку, Олимпийский Стадион'
                },
                logo1: {
                  img: 'g-2.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-1.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-3.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-3.png',
                  name: 'cur'
                },
                score: '- : -',
                group: 'финал'
              }).score--detail.score--white.mb-50.mx-auto
            #play3.tab-pane.fade
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'С.-Петербург, «Санкт-Петербург»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-3.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-3.png',
                  name: 'cur'
                },
                score: '- : -',
                group: 'финал'
              }).score--detail.score--white.mb-50.mx-auto
            #play4.tab-pane.fade
              .plan__final-logo
                img.mw-100(src='./img/sheme-img-final.png' alt="")
              .plan__text-place.text-center ФИНАЛ
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-1.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-2.png',
                  name: 'cur'
                },
                score: '10 : 3',
                group: 'Группа A, тур 2'
              }).score--detail.score--white.mb-50.mx-auto
              .plan__text-place.plan__text-place--small.text-center 3-е место 
              +score({
                head: {
                  date: '17 июня, 19:30',
                  place: 'Рим, «Олимпико»'
                },
                logo1: {
                  img: 'g-3.png',
                  name: 'w45'
                },
                logo2: {
                  img: 'g-3.png',
                  name: 'cur'
                },
                score: '- : -',
                group: 'финал'
              }).score--detail.score--white.mb-50.mx-auto
      #turnir-plan.tab-pane.fade
        +group-item({group: 'группа A',color:'group-item__head--color-a'})
        +group-item({group: 'группа B',color:'group-item__head--color-b'})
        +group-item({group: 'группа C',color:'group-item__head--color-c'})
        +group-item({group: 'группа D',color:'group-item__head--color-d'})
        +group-item({group: 'группа E',color:'group-item__head--color-e'})
        +group-item({group: 'группа F',color:'group-item__head--color-f'})
