extends ../templates/template.pug
block content
  .plan: .container-fluid
    .row.align-items-center.mb-md-30
      .col-auto.pb-15.pb-md-0: h1.h3.mb-0 Расписание <span class="d-none d-md-inline-block">матчей</span>
      .col-12.col-md-auto.order-1.order-md-0.mr-auto: ul.nav.nav-tabs
        li.nav-item: a.nav-link.active(href="#group-plan" data-toggle="tab") групповой этап
        li.nav-item: a.nav-link(href="#playoff-plan" data-toggle="tab") плей-офф
        li.nav-item.d-md-none: a.nav-link(href="#turnir-plan" data-toggle="tab") турнирная таблица
      .col-auto.pb-15.pb-md-0.ml-auto.ml-md-0
        a(href="javascript:;" onclick="window.history.back();").btn.btn-link.btn-link--close.d-none.d-md-inline-block закрыть
        a(href="javascript:;").btn.btn-link.btn-link--filtr.mt-5.d-md-none ФИЛЬТР
    .tab-content
      #group-plan.tab-pane.fade.show.active
        +plan-table({
          type_cell: 'play',
          cell_class: 'plan-cell--result',
          done: true
        })
      #playoff-plan.tab-pane.fade
      #turnir-plan.tab-pane.fade
