extends ../templates/template.pug
block content
  +progress-page
  +up
  header.d-none.d-sm-block: +fix-top
  +header.d-block.d-sm-none
  main.bg-gray
    +front({
      img: 'front-1.jpg',
      title: '«УЭМБЛИ», лондон, англия',
      text: 'Автор статьи: Андрей Пономарев',
      time: 'Чтение займет 5 минут'
    })
    +section-color({
      style: 'facto',
      facto: '133<small>м</small>',
      text: 'Высота возвышающейся арки над стадионом',
      facto_2: '<span class="text-nowrap">~300 000</span> <small>человек</small>',
      text_2: 'Посетили финал Кубка Англии по футболу 1923 года, таким образом, «Уэмбли» поставил рекорд.Это стало самым массовым спортивным мероприятием в мире, и в ближайшем будущем маловероятно,что этот рекорд будет побит. '
    }).section-color--facto
    .container: +block-quote({
      history: true,
      year: '<span>2007</span> год',
      role: 'Дата открытия стадиона «Уэмбли»',
      title: 'о стадионе',
      text: 'Стадион «Уэмбли», известный также как «Новый Уэмбли» — футбольный стадион, расположенный в Лондоне, Англия. Стадион был открыт 9 мартав 2007 году на месте старого стадиона «Уэмбли». На нём свои домашние матчи проводит национальная сборная Англии по футболу. Владельцем стадиона является управляющая организация английского футбола, Футбольная ассоциация Англии (FA).<br><br>Лондон обслуживают четыре крупных аэропорта. До него легко добратьсяна поезде из континентальной Европы. Перелет из Глазгодо Лондона займет 1 час.'
    }).block-quote--history.mt-60.mt-lg-140.mb-40.mb-md-60.mb-lg-100
    +img-block({
      img: 'page-img-3.jpg',
      caption: 'Larissa Bergemann/Dreamstime.com'
    })
    .container.my-60.my-lg-100
      +match({
        video: 'video-sm-1.jpg',
        video_text: '«Барселона» — «МЮ» 3:1 (финал ЛЧ-2011)',
        title: 'статусные матчи',
        text: '<span class="text-hightlight">Финал Лиги чемпионов УЕФА 2011 года</span>— финальный матч розыгрыша Лиги чемпионов УЕФА 2010/11. В матче встретились испанская «Барселона»и английский «Манчестер Юнайтед» (два этих клуба до этого уже однажды встречались в финале Лиги Чемпионов). <br><br>Кубок завоевала «Барселона», выиграв этот финальный матч со счётом: '
      })
        +score({
          logo1: {
            img: 'logo-1.png',
            name: 'FCB'
          },
          logo2: {
            img: 'logo-2.png',
            name: 'MU'
          },
          score: '3 : 1'
        })
      +match({
        video: 'video-sm-2.jpg',
        video_text: '«Бавария» — «Боруссия» Дортмунд 2:1 (финал ЛЧ-2013)',
        text: '<span class="text-hightlight">Финал Лиги чемпионов УЕФА 2011 года</span>— финальный матч розыгрыша Лиги чемпионов УЕФА 2012/13. В матче сыграли два немецких клуба, мюнхенская «Бавария» и дортмундская «Боруссия». Это первый в истории немецкий финал Лиги чемпионов УЕФА. <br><br>Победу в матче одержала «Бавария» со счетом:'
      })
        +score({
          logo1: {
            img: 'logo-3.png',
            name: 'FCB'
          },
          logo2: {
            img: 'logo-4.png',
            name: 'BVB'
          },
          score: '2 : 1'
        })
      
    +img-block({
      img: 'page-img-4.jpg',
      caption: 'Larissa Bergemann/Dreamstime.com'
    })
    .container
      +match({
        title: 'расположение',
        text: '«Уэмбли» находится на северо-западе Лондона в районе Брент. Стадион напрямую соединен со станциями метро «Уэмбли Парк Стэдиум» и «Уэмбли Сентрал». От метро до стадиона — 10 минут. Если приехать заранее, можно посидеть в одном из тематических пабов. <br><br>Вокруг стадиона все создано для прогулок — аллея с лавочками, фонтаны.В непосредственной близости гипермаркет и заведения с фастфудомна любой вкус.'
      }).match--text-right.my-60.my-lg-100
      +img-row({
        items: [
          {
            img: 'img-s1.jpg',
            col: 'img-row__col-50',
            band: 'band',
            caption: 'Владимир Астапкович/Sputnik'
          },
          {
            img: 'img-s2.jpg',
            col: 'img-row__col-50',
            band: 'band',
            caption: 'Larissa Bergemann/Dreamstime.com'
          }
        ]
      }).mb-60.mb-md-90
    +street-view({
      link: 'https://www.google.com/maps/embed?pb=!4v1574403186859!6m8!1m7!1sCAoSLEFGMVFpcE5IMVFXVjUtWWRGek5kRUdOMHhYcG1zNlRpM25YVEd1TnMxYy1D!2m2!1d51.5561028!2d-0.2800419!3f83.22284213884234!4f0!5f0.7820865974627469'
    }).street-view--explained
    .container: +block-quote({
      history: true,
      year: '<span>789</span><small class="font-weight-bold"> млн фунтов</small>',
      role: 'стоимость постройки стадиона. Таким образом «Уэмбли» стал одним из самых дорогих стадионов планеты.',
      title: 'оссобенности стадиона',
      text: '315-метровая стальная арка — самая длинная однопролетная конструкция крыши в мире. С вместимостью 90 тысяч зрителей главный стадион Англии уверенно занял второе место в Европе по этому показателю после барселонского «Камп Ноу». <br><br>При необходимости стадион может быть переоборудован из чисто футбольного в легкоатлетический. Раздвижная крыша «Уэмбли» не закрывает поле целиком. <br><br>Ее дизайн сводит к минимуму попадание тени на газон, а сама конструкция может сдвигаться по трем направлениям — на запад, восток и юг.'
    }).block-quote--history.my-60.my-md-80.my-lg-120
    +street-view({
      link: 'https://www.google.com/maps/embed?pb=!4v1574403407248!6m8!1m7!1sQDUQ3C7N9x4AAAQrBntOfw!2m2!1d48.21904059225844!2d11.62415120990113!3f74.94815657936375!4f0.9269437427733038!5f0.7820865974627469'
    }).street-view--explained
    +section-color({
      style: 'event',
      img: 'event-img-1.png',
      title: 'Главные события<br>на стадионе «уэмбли»'
    }).section-color--event
    .container
      +match({
        text: 'Первоначально старый «Уэмбли» вмещал немыслимые ныне 127 тысяч зрителей, что не мешало болельщикам порой превышать это число в два и более раз. На финал Кубка Англии 1923 года между «Болтоном» и «Вест Хэмом» пришло то ли 150, то ли 300 тысяч зрителей. Разумеется, трибуныне могли вместить всех желающих, поэтому люди вставали прямо за воротами и даже на поле.'
      }).match--text-right.mt-60.mt-md-100.mt-lg-140.mb-40.mb-md-60.mb-lg-100
      +img-row({
        items: [
          {
            img: 'img-s3.jpg',
            col: 'img-row__col-50',
            caption: 'Владимир Астапкович/Sputnik'
          },
          {
            img: 'img-s4.jpg',
            col: 'img-row__col-50',
            caption: 'Larissa Bergemann/Dreamstime.com'
          }
        ]
      }).mb-40.mb-md-70
      +match({
        img: 'img-s5.png',
        img_text: 'Фрагмент финала ЧМ-1966',
        text: 'Лучшие сборные планеты после командировки в Южную Америку,где прошёл чемпионат мира 1962 года, снова выявляли сильнейшегов Европе. Первенство впервые в истории прошло на родине футбола —в Англии. В числе фаворитов были двукратные чемпионы мира Бразилия, Италия и Уругвай, действующие триумфаторы континентального первенства испанцы, а также немцы. Но все они оказались бессильны перед хозяевами турнира. <br><br> <span class="text-hightlight">В 1966 году на «Уэмбли» случилось главное событие за всю историю английского футбола – победа на чемпионате мира.</span><br><br>Сборная Англии переиграла ФРГ со счетом 4:2. 30 лет спустя у англичан была еще одна возможность сыграть на «Уэмбли» большой финал, но в полуфинале чемпионата Европы они уступили всё тем же немцам, которые затемв решающем матче одолели чехов (2:1).'
      }).match--img-bottom.mb-60.mb-md-100
      
    +img-block({
      img: 'page-img-5.jpg',
      caption: 'Larissa Bergemann/Dreamstime.com'
    })
    .container
      +match({
        text: 'В июле 1985-го на «Уэмбли» состоялся легендарный благотворительный концерт в помощь пострадавшим от страшного голода в Эфиопии – Live Aid. Многие музыкальные критики по сей день считают выступление группы Queen на том концерте лучшим живым перформансом всех времен. <br><br>Удивительно, но открывали новый стадион не английские гранды, а всего лишь молодежные сборные Англии и Италии. В том же 2007 году «Челси» обыграл «МЮ» на новом "Уэмбли" в финале Кубка страны. А вскоре сюда приехала сборная Бразилии на товарищеский матчс главной сборной Англии. <br><br><span class="text-hightlight">На Олимпийских играх 2012 года «Уэмбли» досталось 6 футбольных матчей, включая финал. В нем Мексика обыграла бразильцев и отложила их мечты об олимпийском золоте на четыре года.</span>'
      }).match--text-right.my-40.my-md-60.my-lg-100
      +img-row({
        items: [
          {
            img: 'img-s6.jpg',
            col: 'img-row__col-lg',
            caption: 'Владимир Астапкович/Sputnik'
          },
          {
            img: 'img-s7.jpg',
            band: 'band',
            col: 'img-row__col-md',
            caption: 'Larissa Bergemann/Dreamstime.com'
          }
        ]
      }).mb-40.mb-md-70
    
    +img-block({
      img: 'page-img-6.jpg',
      caption: 'Larissa Bergemann/Dreamstime.com'
    }).mb-60.mb-sm-0
    +section-color({
      style: 'fact',
      label: 'интересный факт',
      text: 'Самый нелепый курьез в истории "Уэмбли" случился на Олимпийских играх 2012 года,когда выяснилось, что потерялись ключи от стадиона. К счастью, это были ключи от внутренних помещений, а не от входа, иначе пришлось бы переносить матчи.'
    }).section-color--fact
    .bg-light.py-60.py-md-100: .container: +block-quote({
      video: 'video-sm-3.jpg',
      role: 'Интересные факты о стадионе Уэмбли',
      quote: false,
      text: 'Если вы представили себе обычные металлические ключи, то зря. «Уэмбли» оборудован сложной электронной системой, отвечающей в том числе за двери, а ключи представляют собой лазеры. <br><br>Лондонская полиция прочесывала подтрибунные помещения, но ничегоне нашла. В конце концов Скотленд-ярд немного прояснил ситуацию – ключи потерял один из полицейских, который просто забыл, где их оставил. <br><br>Зрителям Олимпиады эта история не доставила неудобств, а вот английской казне обошлась в 40 тысяч фунтов. Именно столько стоила перенастройка системы для замены ключей.'
    })
    +match-section
    +gallery({
      images: ['gallery-img-3.jpg', 'gallery-img-1.jpg', 'gallery-img-2.jpg'],
      text: 'Фото подворья и Успения Пресвятой Богородицы',
      label: 'Larissa Bergemann/Dreamstime.com',
      thumbs: ['gallery-nav-3.png', 'gallery-nav-1.png', 'gallery-nav-2.png']
    })
    .bg.bg-purple.pt-100
      .container.pt-md-40
        h2.text-center.text-white.mb-50 СТАДИОНЫ ЕВРО‑2020
        +stadiums({
          lines: ['green','yellow','red','red'],
          items: [{
            img: 'st-1.png',
            name: '«Хэмпден Парк»',
            country: 'Шотландия, Глазго'
          },
            {
              img: 'st-2.png',
              name: '«Уэмбли»',
              country: 'Англия, Лондон'
            },
            {
              img: 'st-3.png',
              name: '«Сан-Мамес»',
              country: 'Испания, Бильбао'
            },
            {
              img: 'st-4.png',
              name: '«Дублин Арена»',
              country: 'Ирландия, Дублин'
            },
            {
              img: 'st-5.png',
              name: '«Олимпико»',
              country: 'Италия, Рим'
            },
            {
              img: 'st-6.png',
              name: '«Йохан Кройф Арена»',
              country: 'Нидерланды, Амстердам'
            },
            {
              img: 'st-7.png',
              name: '«Арена Националэ»',
              country: 'Румыния, Бухарест'
            },
            {
              img: 'st-8.png',
              name: '«Паркен»',
              country: 'Дания, Копенгаген'
            },
            {
              img: 'st-9.png',
              name: '«Санкт-Петербург»',
              country: 'Россия, Санкт-Петербург'
            },
            {
              img: 'st-10.png',
              name: '«Олимпийский стадион»',
              country: 'Азербайджан, Баку'
            },
            {
              img: 'st-11.png',
              name: '«Арена Мюнхен»',
              country: 'Германия, Мюнхен'
            },
            {
              img: 'st-12.png',
              name: '«Ференц Пушкаш»',
              country: 'Венгрия, Будапешт'
            }]
        }).stadiums--full
