extends ../templates/template.pug
block content
  +header
  main.page-content.page-content--stadiums.page-content--fix
    div.d-block.d-md-none
      img(src="./img/page-content--stadiums-bg3.png" alt="")
    .container.px-xl-0
      h1.mt-40.mt-md-0.mb-30 
        span.text-secondary Стадионы
        br
        span.text-white евро-2020
      p.text-white.p--semi-transparent.mb-15.
        Летом 2020 года нас ждет уникальный розыгрыш чемпионата Европы — посвященный 60-летию проведения первого турнира. Он станет самым масштабным по целому ряду показателей и пройдет не в одной или двух странах, как бывало прежде, а на 12 стадионах 12 городов 12 национальных ассоциаций УЕФА.
      p.text-white.p--semi-transparent.
        Рассказываем, в чем уникальность каждой из арен ЕВРО-2020.
      +stadiums({
        lines: ['light-blue', 'green', 'blue-light', 'green'],
        items: [
          {
            img: 'st-9.png',
            name: '«Санкт-Петербург»',
            country: 'Россия, Санкт-Петербург'
          },
          {
            img: 'st-6.png',
            name: '«Йохан Кройф Арена»',
            country: 'Нидерланды, Амстердам'
          },
          {
            img: 'st-8.png',
            name: '«Паркен»',
            country: 'Дания, Копенгаген'
          }, 
          {
            img: 'st-4.png',
            name: '«Дублин Арена»',
            country: 'Ирландия, Дублин'
          },
          {
            img: 'st-10.png',
            name: '«Олимпийский стадион»',
            country: 'Азербайджан, Баку'
          },
          {
            img: 'st-7.png',
            name: '«Арена Националэ»',
            country: 'Румыния, Бухарест'
          },
          {
            img: 'st-1.png',
            name: '«Хэмпден Парк»',
            country: 'Шотландия, Глазго'
          },
          {
            img: 'st-2.png',
            name: '«Уэмбли»',
            country: 'Англия, Лондон'
          }, 
          {
            img: 'st-12.png',
            name: '«Ференц Пушкаш»',
            country: 'Венгрия, Будапешт',
            class: 'stadiums__item--inactive'
          },
          {
            img: 'st-5.png',
            name: '«Олимпико»',
            country: 'Италия, Рим'
          },
          {
            img: 'st-3.png',
            name: '«Сан-Мамес»',
            country: 'Испания, Бильбао'
          },
          {
            img: 'st-11.png',
            name: '«Арена Мюнхен»',
            country: 'Германия, Мюнхен'
          }]
      }).mt-60.mt-md-130.mt-xl-140
  +footer
