.event {
  background-color: #fff;

  &__img-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;

    &:after {
      padding-top: 91.55%;
      display: block;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;

      @supports (object-fit: cover) {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__img-link {
    display: block;
    width: 100%;

    .event__img-wrap {

      @include transition;

      &:hover {
        opacity: .9;
      }
    }
  }

  &__text {
    position: relative;
    padding: 32px 32px 20px;

    @include media-breakpoint-down(lg) {
      padding-right: 48px;
      padding-left: 48px;
    }

    @include media-breakpoint-down(md) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }

  &__title {
    display: block;
    font-family: $font-family-bridge;
    color: $secondary;

    @include transition;

    &:hover {
      opacity: .7;
      color: $secondary;
    }

    br {

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__type {
    position: absolute;
    top: -16px;
    left: 32px;
    padding: 0 12px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(90deg, #f5c792 0%, #c65f38 100%);

    @include media-breakpoint-down(lg) {
      left: 48px;
    }

    @include media-breakpoint-down(md) {
      left: 24px;
    }
  }

  &--purple {

    .event__type {
      background: linear-gradient(90deg, #aa7db1 0%, #5b174c 100%);
    }

    .event__title {
      color: $purple;

      &:hover {
        color: $purple;
      }
    }
  }

  &--green {

    .event__title {
      color: $green;

      &:hover {
        color: $green;
      }
    }
  }

  &--purple-light {

    .event__title {
      color: #a13858;

      &:hover {
        color: #a13858;
      }
    }
  }

  &--link {
    padding: 20px 0;
    display: flex;
    height: 112px;
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding: 12px 0;
      height: 72px;
    }

    .event__type {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
    }

    .event__text {
      padding: 0 32px;

      @include media-breakpoint-down(lg) {
        padding-right: 48px;
        padding-left: 48px;
      }

      @include media-breakpoint-down(md) {
        padding-right: 24px;
        padding-left: 24px;
      }
    }
  }
}
