mixin event(data)
  .event&attributes(attributes)
    if data.img
      a(href="#").event__img-link: .event__img-wrap: img(src=`./img/${data.img}` alt="")
    .event__text
      if data.type
        .event__type.p-xs !{data.type}
      a.event__title(href="#"): h5 !{data.title}
