.match-section {
  padding: 120px 0;
  background: url(../img/match-section-bg-img1.png) left bottom no-repeat,
    url(../img/match-section-bg-img2.png) right bottom no-repeat;
  background-size: 30%, 15%;
  border-bottom: 24px solid $green;

  @include media-breakpoint-down(md) {
    padding: 80px 0 250px;
  }

  @include media-breakpoint-down(sm) {
    padding: 60px 0 220px;
    background: url(../img/match-section-bg-img3.png) center bottom no-repeat;
  }

  &__item {
    padding: 0 0 60px;
    display: flex;
    width: 33.33%;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(md) {
      width: 50%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}
