mixin match-section(data)
  .match-section&attributes(attributes)
    .container 
      h3.text-purple.text-center.mb-40.mb-sm-60 матчи евро-2020 на «уэмбли»
      .match-section__row.row.no-gutters.justify-content-center
        .match-section__item: +score({
            head: {
              date: '17 июня, 19:30',
              place: 'Рим, «Олимпико»'
            },
            logo1: {
              img: 'g-1.png',
              name: 'alg'
            },
            logo2: {
              img: 'g-2.png',
              name: 'cur'
            },
            score: '10 : 3',
            group: 'группа A, тур 2'
          }).score--detail
        .match-section__item: +score({
          head: {
            date: '17 июня, 19:30',
            place: 'Рим, «Олимпико»'
          },
          logo1: {
            img: 'g-1.png',
            name: 'alg'
          },
          logo2: {
            img: 'g-2.png',
            name: 'cur'
          },
          score: '10 : 3',
          group: 'группа A, тур 2'
        }).score--detail
        .match-section__item: +score({
          head: {
            date: '17 июня, 19:30',
            place: 'Рим, «Олимпико»'
          },
          logo1: {
            img: 'g-1.png',
            name: 'alg'
          },
          logo2: {
            img: 'g-2.png',
            name: 'cur'
          },
          score: '10 : 3',
          group: 'группа A, тур 2'
        }).score--detail
        .match-section__item: +score({
          head: {
            date: '17 июня, 19:30',
            place: 'Рим, «Олимпико»'
          },
          logo1: {
            img: 'g-1.png',
            name: 'alg'
          },
          logo2: {
            img: 'g-2.png',
            name: 'cur'
          },
          score: '10 : 3',
          group: 'группа A, тур 2'
        }).score--detail
        .match-section__item: +score({
          head: {
            date: '17 июня, 19:30',
            place: 'Рим, «Олимпико»'
          },
          logo1: {
            img: 'g-3.png',
            name: 'w45'
          },
          logo2: {
            img: 'g-3.png',
            name: 'cur'
          },
          score: '- : -',
          group: '1/4 финала'
        }).score--detail
        .match-section__item: +score({
          head: {
            date: '17 июня, 19:30',
            place: 'Рим, «Олимпико»'
          },
          logo1: {
            img: 'g-3.png',
            name: 'w45'
          },
          logo2: {
            img: 'g-3.png',
            name: 'cur'
          },
          score: '- : -',
          group: '1/2 финала'
        }).score--detail
        .match-section__item: +score({
          head: {
            date: '17 июня, 19:30',
            place: 'Рим, «Олимпико»'
          },
          logo1: {
            img: 'g-3.png',
            name: 'w45'
          },
          logo2: {
            img: 'g-3.png',
            name: 'cur'
          },
          score: '- : -',
          group: 'финал'
        }).score--detail
    .text-center: a.btn.btn-purple.btn-md(href="#") смотреть все расписание
