mixin front(data)
  a.front.lazy(href="./img/" + data.img, data-fancybox="gallery", data-bg=`url(./img/${data.img})`)&attributes(attributes)
    .front__text: .container
      h1.front__title !{data.title}
      if data.text
        p.p-md.font-weight-bold !{data.text}
      if data.time
        .front__time !{data.time}
