.front {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include media-breakpoint-down(xs) {
    height: calc(100vh - 64px);
    max-height: 760px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 400px;
    opacity: .7;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 79.87%);

    @include media-breakpoint-down(md) {
      height: 512px;
    }

    @include media-breakpoint-down(sm) {
      height: 284px;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
    width: 100%;
    color: #ffffff;

    @include media-breakpoint-down(xs) {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 56px;

    @include media-breakpoint-down(xs) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__time {
    margin-top: 8px;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    color: rgba(#ffffff, .5);

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:before {
      margin-right: 10px;
      display: block;
      width: 16px;
      height: 16px;
      opacity: .5;
      content: '';
      background: transparent url(../img/front__time.svg) 0 0 no-repeat;
    }
  }

  &--horizontal {
    background-position: center bottom;

    @include media-breakpoint-down(md) {
      height: 400px;
    }

    @include media-breakpoint-down(sm) {
      height: 250px;
    }
  }

  &--left {
    background-position: left center;

    @media screen and (max-width: 1199px) and (min-height: 1000px) {
      height: 600px;
    }

    @include media-breakpoint-down(md) {
      height: 400px;
    }

    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }
}
