$colors-confetti: (#d13447, #ffbf00, #1b7208);

.confetti {
  position: absolute;
  top: -18px;
  left: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 110px;
  opacity: 0;
  transition: .3s;

  &__item {
    position: absolute;
  }

  &.is-animated {
    visibility: visible;

    .confetti__item {
      animation-play-state: running;
    }
  }
}

@for $i from 0 through 100 {
  $w: random(8);
  $l: random(100);

  .confetti__item--#{$i} {
    bottom: -10%;
    left: 50%;
    display: block;
    width: #{$w}px;
    height: #{$w * .4}px;
    opacity: random() + .5;
    background-color: nth($colors-confetti, random(3));
    transform: rotate(#{random() * 360}deg);
    animation: drop-#{$i} unquote(.3 + random() + 's');
    //    animation: drop-#{$i} unquote(random() + 's');
    animation-play-state: paused;
  }

  @keyframes drop-#{$i} {

    100% {
      bottom: unquote($i + 25 + '%');
      left: unquote($l + '%');
    }
  }
}
