.scheme {
  margin-right: -8px;
  margin-left: -8px;
  display: flex;
  justify-content: center;
  transform: scale(1);

  @include media-breakpoint-down(md) {
    justify-content: space-between;
    transform: none;
  }

  .score {
    margin: 12px 0;

    &:after,
    &:before {

      @include media-breakpoint-down(md) {
        display: none !important;
      }
    }
  }

  &__logo {
    margin-top: -40px;
    margin-bottom: -65px;
    display: block;
    max-width: none;

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  &__stage {
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    overflow: hidden;
    min-width: 176px;
    flex-direction: column;
    align-items: center;
    transform-origin: left top;

    @include media-breakpoint-down(md) {
      overflow: visible;
      min-width: 0;
      flex-shrink: 0;
    }

    &--final {
      overflow: visible;
      min-width: 255px;
      align-items: center;

      @include media-breakpoint-down(md) {
        min-width: 200px;
        max-width: 200px;
      }
    }

    &--2,
    &--3 {
      justify-content: flex-start;

      .score {
        position: relative;
        margin-top: 108px;
        margin-bottom: 178px;

        @include media-breakpoint-down(md) {
          margin-top: 120px;
          margin-bottom: 210px;
        }

        &:after,
        &:before {
          position: absolute;
          right: 50%;
          display: block;
          width: 128px;
          height: 12px;
          opacity: .5;
          content: '';
          color: $blue-light;
          border-width: 2px;
          border-right: 2px solid;
        }

        &:after {
          top: 100%;
          border-bottom: 2px solid;
        }

        &:before {
          bottom: 100%;
          border-top: 2px solid;
        }

        &:last-child {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    &--2 {
      min-width: 200px;

      @include media-breakpoint-down(md) {
        min-width: 0;
      }
    }

    &--3 {
      margin-top: 183px;
      padding-top: 100px;
      padding-bottom: 100px;
      min-width: 176px;

      @include media-breakpoint-down(md) {
        margin-top: 216px;
        min-width: 0;
      }

      .score {
        margin-top: 0;
        margin-bottom: 0;

        &:after,
        &:before {
          height: 84px;
        }

        &:before {
          margin-bottom: 10px;
        }

        &:after {
          margin-top: 5px;
        }
      }
    }
  }

  .scheme__stage--right.scheme__stage--2,
  .scheme__stage--right.scheme__stage--3 {

    .score {

      &:before,
      &:after {
        right: auto;
        left: 50%;
        border-left: 2px solid;
        border-right: none;
      }
    }
  }

  .scheme__stage--right {

    .score__count {

      @include media-breakpoint-down(md) {
        padding-right: 12px;
        padding-left: 0;
        order: -1;
      }
    }
  }

  .score--detail .score__logo img {
    max-width: 100% !important;
  }
}
