mixin scheme(data)
  .scheme&attributes(attributes)
    .scheme__stage.scheme__stage--1
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-1.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-2.png',
          name: 'cur'
        },
        score: '<span>5</span> <span>:</span> <span>3</span>'
      }).score--detail.score--white.score--small.score--scheme(data-fancybox data-src="#inf_id22" data-base-class="fancybox--match" data-touch="false")
      .d-none: +popup-match({score: '5 : 3'})#inf_id22
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>',
      }).score--detail.score--white.score--small.score--scheme
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
    .scheme__stage.scheme__stage--2
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
    .scheme__stage.scheme__stage--3
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
    .scheme__stage.scheme__stage--final
      img.scheme__logo(src="./img/sheme-img-final.png" alt="")
      .h3.text-secondary.text-center.mb-10 ФИНАЛ
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small
      .plan__text-place.plan__text-place--small.mb-5.text-center 3-е место
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small
    .scheme__stage.scheme__stage--3.scheme__stage--right
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
    .scheme__stage.scheme__stage--2.scheme__stage--right
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
    .scheme__stage.scheme__stage--1.scheme__stage--right
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
      +score({
        head: {
          date: '17 июня, 19:30',
          place: 'Рим, «Олимпико»'
        },
        logo1: {
          img: 'g-3.png',
          name: 'w45'
        },
        logo2: {
          img: 'g-3.png',
          name: 'cur'
        },
        score: '<span>-</span> <span>:</span> <span>-</span>'
      }).score--detail.score--white.score--small.score--scheme
