.fest-city {
  margin-bottom: 16px;
  display: flex;
  align-items: center;

  &__picture {
    margin-right: 12px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    background-size: cover;
  }

  &__content {
    flex-grow: 1;
  }

  &__name {
    margin-bottom: 0;
    font-weight: 600;

    @include transition;
  }

  &__distance {
    font-size: 13px;
    line-height: 16px;
    color: #b4b4b4;
  }

  &:hover {

    .fest-city__name {
      color: #7a7a7a;
    }
  }

  &--big {
    padding: 16px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, .04);

    @include transition;

    &.fest-city--active {
      background: #f6f6f6;
      box-shadow: inset 0 5px 20px rgba(0, 0, 0, .05);

      &:hover {
        box-shadow: inset 0 5px 20px rgba(0, 0, 0, .05);
      }
    }

    &:hover {
      background: #f6f6f6;
      box-shadow: none;
    }
  }

  &--active {

    .fest-city__name {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:after {
        display: block;
        width: 13px;
        height: 10px;
        content: '';
        background: url(../img/fest-check.svg) no-repeat;
        background-size: contain;
      }
    }
  }
}
