mixin fest-city(data)
  a.fest-city(href="#")&attributes(attributes)
    if data && data.picture
      .fest-city__picture(style="background-image: url(./img/" + data.picture + ');')
    .fest-city__content
      .p--sm.fest-city__name= data.name
      p.fest-city__distance= data.distance
