.fix-top {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  background: transparent url(../img/fix-top-bg.jpg) center center no-repeat;
  background-size: cover;

  &__row {
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      position: static;
      max-width: 110px;
      transform: translate(0, 0);
    }

    @include media-breakpoint-down(xs) {
      max-width: 100px;
    }
  }

  &__socials {

    .social-link {
      margin-right: 20px;

      @include media-breakpoint-down(md) {
        margin-right: 5px;
        width: 35px;
        height: 35px;
      }

      &:last-of-type {
        margin-right: 0;
      }

      img {

        @include media-breakpoint-down(md) {
          max-width: 20px;
        }
      }
    }
  }

  &__back {

    .btn-link--detail {

      @include media-breakpoint-down(xs) {
        font-size: 0;
      }

      @include transition;

      &:hover {
        opacity: .7;
        color: #fff;
      }
    }
  }
}
