mixin fix-top(data)
  .fix-top&attributes(attributes): .container-fluid: .fix-top__row
    .fix-top__back
      a.btn.btn-link.btn-link--detail(href="#").
        <svg class="ml-0 mr-5" width="9" height="12" viewBox="0 0 9 12" fill="none">
        <path d="M9 1.86852C9 1.06982 8.10985 0.59343 7.4453 1.03647L1.24808 5.16795C0.654343 5.56377 0.654342 6.43623 1.24808 6.83205L7.4453 10.9635C8.10985 11.4066 9 10.9302 9 10.1315V1.86852Z" fill="currentColor"/>
        </svg>
        назад к стадионам
    a.fix-top__logo(href="./"): img(src="./img/fix-top-logo.svg" alt="")
    .fix-top__socials
      +social-link({icon: 'twitter.svg'})
      +social-link({icon: 'fb.svg'})
      +social-link({icon: 'vk.svg'})
      +social-link({icon: 'inst.svg'})
