.social-link {
  display: inline-flex;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 50%;

  @include transition;

  &:hover {
    border-color: #fff;
  }
}
