.bottom {
  background-color: $primary;
  background-image: url(../img/pattern-blue-bottom.png);
  background-size: cover;

  &__socials {
    display: flex;
    flex-direction: row;

    .social-link {
      margin-left: 20px;
    }
  }

  .bottom__row {
    display: flex;
    height: 96px;
    align-items: center;

    @include media-breakpoint-down(xs) {
      padding-top: 24px;
      padding-bottom: 20px;
      height: auto;
      flex-direction: column;
      align-items: center;
    }
  }

  .bottom__logo {
    margin-right: auto;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
      margin-right: 0;
      order: 1;
    }
  }
}
