mixin bottom(data)
  .bottom&attributes(attributes): .container-fluid: .bottom__row
    a.bottom__logo(href="./"): img(src="./img/header-logo-mob.svg" alt="")
    .bottom__socials
      +social-link({icon: 'twitter.svg'})
      +social-link({icon: 'fb.svg'})
      +social-link({icon: 'vk.svg'})
      +social-link({icon: 'inst.svg'})
