mixin fest-search-form(data)
  form.fest-search-form(action="#", method="POST")&attributes(attributes)
    button.fest-search-form__btn(type="submit")
    input.fest-search-form__input(type="text", placeholder="Поиск")
    a.fest-search-form__clear(href="#")
