.fest-search-form {
  position: relative;
  padding-left: 12px;
  display: flex;
  height: 48px;
  align-items: center;
  background: #ededed;
  border-radius: 5px;

  @include transition;

  &:hover {
    background: #f6f6f6;
  }

  @include media-breakpoint-down(sm) {
    flex-grow: 1;
  }

  &__btn {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url(../img/fest-search.svg) no-repeat center;
    background-size: contain;
  }

  &__input {
    margin-left: 4px;
    padding-right: 40px;
    flex-grow: 1;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background: transparent;
    border: 0;

    @include placeholder {
      color: #b4b4b4;
    }

    @include media-breakpoint-down(sm) {
      max-width: 160px;
    }
  }

  &__clear {
    display: none;

    &--active {
      position: absolute;
      top: 50%;
      right: 16px;
      display: block;
      width: 16px;
      height: 16px;
      background: url(../img/fest-clear.svg) no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }
}
