mixin video-link(data)
  a.video-link(data-fancybox href="https://vimeo.com/238731037" style=`background-image:url(${data.img})`)&attributes(attributes)
    if data.title
      h3.mb-35 !{data.title}
    if data.modifier && data.modifier == 'video-link--tab'
      .btn.btn-link.btn-link--detail.
        Подробнее
        <svg width="9" height="12" viewBox="0 0 9 12">
        <path d="M0 1.86852C0 1.06982 0.890145 0.59343 1.5547 1.03647L7.75192 5.16795C8.34566 5.56377 8.34566 6.43623 7.75192 6.83205L1.5547 10.9635C0.890146 11.4066 0 10.9302 0 10.1315V1.86852Z"/>
        </svg>
    else
      .video-link__icon.btn.btn-play
      
