.video-link {
  position: relative;
  padding: 3.8vw 32px;
  display: block;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @include transition;

  @include media-breakpoint-down(sm) {
    background-position: left 30% top;
  }

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(109.74deg, #dc425c 0%, #723154 100%);

    @include transition;
  }

  &:hover {
    color: #fff;

    &:before {
      opacity: .9;
    }

    h3 {

      @include transition;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-top: 56px;
    padding-bottom: 20px;
    height: 384px;
  }

  &--xs {
    margin-bottom: 10px;
    padding: 2vw 32px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      padding: 10px;
      display: flex;
      width: 100%;
      height: 140px;
      justify-content: center;
      align-items: center;
    }

    @include media-breakpoint-down(sm) {
      height: 280px;
    }

    @include media-breakpoint-down(xs) {
      height: 140px;
    }
  }

  &--news {
    background-position: right 13% top 15%;
    background-size: auto 250%;

    @include media-breakpoint-down(md) {
      background-size: auto 200%;
    }

    @include media-breakpoint-down(sm) {
      background-size: contain;
    }
  }
}
