.up {
  position: fixed;
  z-index: -1;
  right: 40px;
  bottom: 40px;
  width: 64px;
  height: 64px;
  opacity: 0;
  background: url(../img/up.svg) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .05);

  @include transition;

  @include media-breakpoint-down(lg) {
    width: 48px;
    height: 48px;
  }

  @include media-breakpoint-down(sm) {
    right: 24px;
    bottom: 24px;
  }

  &:hover {
    opacity: .8;
  }

  &--active {
    z-index: 1;
    opacity: 1;
  }
}
