.num {
  font-family: $font-family-bridge;
  font-size: 96px;
  line-height: 96px;
  color: $secondary;

  @include media-breakpoint-down(xs) {
    font-size: 64px;
    line-height: 32px;
    //    line-height: 64px;
  }

  small {
    font-family: $font-family-base;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;

    @include media-breakpoint-down(xs) {
      font-size: 32px;
      line-height: 32px;
    }
  }
}
