mixin menu(data)
  nav.menu&attributes(attributes): .menu__content
    .menu__item
      a.menu__link-title.h3(href="#")
        span.menu__icon: img(src="./img/stadium.svg" alt="")
        span стадионы
      ul.menu__list
        li: a(href="#").menu__link Амстердам
        li: a(href="#").menu__link Баку
        li: a(href="#").menu__link Бильбао
        li: a(href="#").menu__link Будапешт
        li: a(href="#").menu__link Бухарест
        li: a(href="#").menu__link Глазго
        li: a(href="#").menu__link Дублин
        li: a(href="#").menu__link Копенгаген
        li: a(href="#").menu__link Лондон
        li: a(href="#").menu__link Мюнхен
        li: a(href="#").menu__link Рим
        li: a(href="#").menu__link Санкт-Петербург
    .menu__item
      a.menu__link-title.h3(href="#")
        span.menu__icon: img(src="./img/turnir.svg" alt="")
        span Турнир
      ul.menu__list
        li: a(href="#").menu__link О турнире
        li: a(href="#").menu__link Расписание матчей
        li: a(href="#").menu__link Главные события
        li: a(href="#").menu__link Как купить билеты
        li: a(href="#").menu__link Стадионы
        li: a(href="#").menu__link Талисман
        li: a(href="#").menu__link Про волонтеров
    .menu__item
      a.menu__link-title.h3(href="#")
        span.menu__icon: img(src="./img/sbor.svg" alt="")
        span сборная
      ul.menu__list
        li: a(href="#").menu__link Соперники сборной отбор
        li: a(href="#").menu__link Обзор матчей отбора
        li: a(href="#").menu__link Состав команды
        li: a(href="#").menu__link Интервью Черчесова
        li: a(href="#").menu__link Исторический сериал
    .menu__item
      a.menu__link-title.h3(href="#")
        span.menu__icon: img(src="./img/map.svg" alt="")
        span город
      ul.menu__list
        li: a(href="#").menu__link Экскурсии
        li: a(href="#").menu__link Топ-10 мест
        li: a(href="#").menu__link Развлечения
    .menu__item
      a.menu__link-title.h3(href="#")
        span.menu__icon: img(src="./img/rup.svg" alt="")
        span организация
      ul.menu__list
        li: a(href="#").menu__link Контакты
        li: a(href="#").menu__link Закупки
        li: a(href="#").menu__link Пресс-служба
    .menu__item
      a.menu__link-title.h3(href="#")
        span.menu__icon: img(src="./img/high-five.svg" alt="")
        span волонтеры
      ul.menu__list
        li: a(href="#" target="_blank").menu__link.text-nowrap.
          Перейти на сайт волонтеров
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" >
          <path d="M15.2729 0H9.45469C9.05304 0 8.72741 0.325625 8.72741 0.727281C8.72741 1.12894 9.05304 1.45456 9.45469 1.45456H13.5171L6.03138 8.94031C5.74735 9.22434 5.74735 9.68478 6.03138 9.96881C6.17335 10.1108 6.35948 10.1818 6.5456 10.1818C6.73173 10.1818 6.91788 10.1108 7.05988 9.96878L14.5456 2.48306V6.54547C14.5456 6.94712 14.8713 7.27275 15.2729 7.27275C15.6746 7.27275 16.0002 6.94712 16.0002 6.54547V0.727281C16.0002 0.325625 15.6745 0 15.2729 0Z" fill="currentColor"/>
          <path d="M12.3636 7.27271C11.962 7.27271 11.6363 7.59834 11.6363 7.99999V14.5455H1.45453V4.36362H8C8.40166 4.36362 8.72728 4.03799 8.72728 3.63634C8.72728 3.23468 8.40166 2.90909 8 2.90909H0.727281C0.325625 2.90909 0 3.23471 0 3.63637V15.2727C0 15.6744 0.325625 16 0.727281 16H12.3637C12.7653 16 13.0909 15.6744 13.0909 15.2727V7.99999C13.0909 7.59834 12.7653 7.27271 12.3636 7.27271Z" fill="currentColor"/>
          </svg>

    .menu__item
      a.menu__link-title.h3(href="#")
        span.menu__icon: img(src="./img/book.svg" alt="")
        span спецпроекты
      ul.menu__list
        li: a(href="#").menu__link Школьный урок
        li: a(href="#").menu__link Геотест
    .menu__bottom.d-xl-none
      +bottom
