.menu {
  display: block !important;
  min-width: 100%;
  min-height: 100%;
  background-color: $purple;
  background-image: url(../img/pattern-purple.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }

  &__content {
    padding-top: 75px;
    padding-right: 24px;
    padding-left: 90px;
    padding-bottom: 75px;
    height: auto;
    min-height: 100vh;
    column-count: 3;

    @media screen and (max-height: 800px) {
      display: block;
      height: auto;
      column-count: 2;
    }

    @include media-breakpoint-down(lg) {
      padding-top: 140px;
      padding-right: 48px;
      padding-left: 48px;
      padding-bottom: 0;
      display: block;
      overflow: hidden;
      max-width: 100%;
      height: auto;
      column-count: 2;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 100px;
      padding-right: 24px;
      padding-left: 24px;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      column-count: 1;
    }
  }

  &__item {
    padding-right: 90px;
    display: inline-block;
    width: 100%;
    //    width: 33%;

    @media screen and(max-height: 800px) {
      padding-right: 50px;
      width: 100%;
    }

    @include media-breakpoint-down(lg) {
      padding-right: 30px;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      padding-right: 0;
    }
  }

  &__link-title {
    margin-bottom: 15px;
    display: inline-block;
    font-size: 36px;
    line-height: 40px;
    white-space: nowrap;
    color: $secondary;

    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 32px;
      font-size: 18px;
      line-height: 1;
    }

    &:hover {
      opacity: .7;
      color: $secondary;
    }

    span {
      vertical-align: middle;
    }
  }

  &__icon {
    padding-right: 20px;
    display: inline-block;
    width: 52px;

    @include media-breakpoint-down(xs) {
      padding-right: 12px;
      width: 38px;
    }

    img {
      display: block;
    }
  }

  &__list {
    margin-bottom: 45px;
    padding: 0;
    padding-left: 52px;
    list-style: none;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    li {
      margin-bottom: 5px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 28px;
    color: #fff;

    @include transition;

    svg {
      margin-left: 5px;
      vertical-align: baseline;
    }

    &:hover {
      color: $secondary;
    }
  }

  &__bottom {
    margin-top: auto;
    margin-left: -48px;
    padding-top: 40px;
    width: calc(100% + 96px);
    column-span: all;

    @include media-breakpoint-down(sm) {
      margin-left: -24px;
      width: calc(100% + 48px);
    }
  }
}
