.img-row {
  flex-wrap: nowrap;

  @include media-breakpoint-down(xs) {
    flex-wrap: wrap;
  }

  .col-auto {
    //    flex: 1 0 50%;
    //    width: 50%;
    //    display: flex;
    //    flex-direction: column;
    //    justify-content: flex-end;
  }

  .col-auto + .col-auto {

    @include media-breakpoint-down(xs) {
      margin-top: 40px;
    }
  }

  &__col-md {
    flex-shrink: 1;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  &__col-lg {
    flex-shrink: 1;

    @include media-breakpoint-down(xs) {
      margin-top: 40px;
      width: 100%;
    }
  }

  &__col-50 {
    width: 50%;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }

    &:last-of-type {

      @include media-breakpoint-down(xs) {
        margin-top: 40px;
      }
    }
  }
}
