mixin img-row(data)
  .img-row.row&attributes(attributes)
    for item in data.items
      .col-auto(class=item.col)
        if item.band
          a(href="./img/" + item.img, data-fancybox="gallery")
            div(class=item.band)
              img.lazy.w-100(data-src=`./img/${item.img}` alt="" class=item.class)
        else
          a(href="./img/" + item.img, data-fancybox="gallery")
            img.lazy.w-100(data-src=`./img/${item.img}` alt="" class=item.class)
        .p-xs.text-gray.pt-10.text-uppercase !{item.caption}
