.right-slide {
  position: sticky;
  top: 0;
  width: 100%;
  color: #fff;

  @include media-breakpoint-down(lg) {
    position: relative;
    width: 100%;
  }

  &__item {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    padding-top: 192px;
    width: 100%;
    height: 100vh;
    text-align: center;

    @include media-breakpoint-down(lg) {
      height: calc(100vh - 64px);
      min-height: 678px;
      max-height: 856px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 68px;
      padding-bottom: 43vw;
      height: auto;
      min-height: 0;
      max-height: none;
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom, center center;
    background-size: 100%, cover;
  }

  &__middle {
    padding-top: 60px;
    text-align: center;

    h1,
    .h1 {
      color: $secondary-light;
    }
  }

  &__counter {
    position: absolute;
    z-index: 1;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
      position: absolute !important;
      top: 0;
    }
  }
}
