mixin right-slide(data)
  .right-slide&attributes(attributes)
    +counter.right-slide__counter
    .right-slide__list.js-index-slider
      a.right-slide__item(href="#"): .right-slide__body
        .right-slide__bg(style="background-image:url(./img/slide-1.png),url(./img/slide-bg-blue.jpg)")
        .right-slide__content
          .right-slide__middle
            h1.mb-md-10 Стадионы
            h2.mb-15.mb-md-30 евро 2020
            .btn.btn-link.btn-link--detail.
              Подробнее
              <svg width="9" height="12" viewBox="0 0 9 12">
              <path d="M0 1.86852C0 1.06982 0.890145 0.59343 1.5547 1.03647L7.75192 5.16795C8.34566 5.56377 8.34566 6.43623 7.75192 6.83205L1.5547 10.9635C0.890146 11.4066 0 10.9302 0 10.1315V1.86852Z"/>
              </svg>
      a.right-slide__item(href="#"): .right-slide__body
        .right-slide__bg(style="background-image:url(./img/slide-2.png),linear-gradient(138.01deg, #DC425C 0%, #A13858 51.04%, #723154 100%);")
        .right-slide__content
          .right-slide__middle
            h2.h1.mb-md-10 город
            h2.mb-15.mb-md-30 Санкт-Петербург
            .btn.btn-link.btn-link--detail.
              Подробнее
              <svg width="9" height="12" viewBox="0 0 9 12">
              <path d="M0 1.86852C0 1.06982 0.890145 0.59343 1.5547 1.03647L7.75192 5.16795C8.34566 5.56377 8.34566 6.43623 7.75192 6.83205L1.5547 10.9635C0.890146 11.4066 0 10.9302 0 10.1315V1.86852Z"/>
              </svg>
      a.right-slide__item(href="#"): .right-slide__body
        .right-slide__bg(style="background-image:url(./img/slide-1.png),url(./img/slide-bg-blue.jpg)")
        .right-slide__content
          .right-slide__middle
            h2.h1.mb-md-10 3 Слайд
            h2.mb-15.mb-md-30 евро 2020
            .btn.btn-link.btn-link--detail.
              Подробнее
              <svg width="9" height="12" viewBox="0 0 9 12">
              <path d="M0 1.86852C0 1.06982 0.890145 0.59343 1.5547 1.03647L7.75192 5.16795C8.34566 5.56377 8.34566 6.43623 7.75192 6.83205L1.5547 10.9635C0.890146 11.4066 0 10.9302 0 10.1315V1.86852Z"/>
              </svg>
            
