mixin plan-cell(data)
  case data.type
    when 'play'
      if data.popup
        a.plan-cell(href="javascript:;" data-fancybox data-src="#inf_id33" data-touch="false" data-base-class="fancybox--match")&attributes(attributes)
          .plan-cell__head
            .plan-cell__group !{data.group}
            .plan-cell__time XX:00
          .row.no-gutters.justify-content-between.flex-nowrap
            .col-auto
              .plan-cell__logo(style="background-image:url(./img/logo-cell.jpg)")
              .plan-cell__name FRA
            .col-auto
              .plan-cell__count 3&nbsp;:&nbsp;2
            .col-auto
              .plan-cell__logo(style="background-image:url(./img/logo-none-cell.png)")
              .plan-cell__name PER
      else
        a.plan-cell(href="#")&attributes(
          attributes)
          .plan-cell__head
            .plan-cell__group !{data.group}
            .plan-cell__time XX:00
          .row.no-gutters.justify-content-between.flex-nowrap
            .col-auto
              .plan-cell__logo(style="background-image:url(./img/logo-cell.jpg)")
              .plan-cell__name FRA
            .col-auto
              .plan-cell__count -&nbsp;:&nbsp;-
            .col-auto
              .plan-cell__logo(style="background-image:url(./img/logo-none-cell.png)")
              .plan-cell__name PER
      if data.popup
        .d-none: +popup-match({score: '3 : 2'})#inf_id33
    when 'result'
      .plan-cell&attributes(attributes): .d-flex.h-100
        .plan-cell__head: .plan-cell__group !{data.group}
        .plan-cell__list: table
          for item,i in data.result
            tr
              td
                if data.popup && i===0
                  a(href="javascript:;" 
                    data-fancybox data-src="#inf_2" 
                    data-touch="false" 
                    data-base-class="fancybox--default") !{item.country}
                  .d-none: #inf_2.px-20
                    p.text-center.mb-30.mb-md-45 Групповые матчи: Египет
                    .row.no-gutters.justify-content-center
                      +score({
                        head: {
                          date: '17 июня, 19:30',
                          place: 'Рим, «Олимпико»'
                        },
                        logo1: {
                          img: 'g-1.png',
                          name: 'alg'
                        },
                        logo2: {
                          img: 'g-2.png',
                          name: 'cur'
                        },
                        score: '10 : 3',
                        group: 'группа A, тур 2'
                      }).score--detail.mx-10.mx-lg-40.mb-30
                      +score({
                          head: {
                            date: '17 июня, 19:30',
                            place: 'Рим, «Олимпико»'
                          },
                          logo1: {
                            img: 'g-1.png',
                            name: 'alg'
                          },
                          logo2: {
                            img: 'g-2.png',
                            name: 'cur'
                          },
                          score: '10 : 3',
                          group: 'группа A, тур 2'
                        }).score--detail.mx-15.mx-lg-40.mb-30
                      +score({
                          head: {
                            date: '17 июня, 19:30',
                            place: 'Рим, «Олимпико»'
                          },
                          logo1: {
                            img: 'g-1.png',
                            name: 'alg'
                          },
                          logo2: {
                            img: 'g-2.png',
                            name: 'cur'
                          },
                          score: '10 : 3',
                          group: 'группа A, тур 2'
                        }).score--detail.mx-15.mx-lg-40.mb-30
                else
                  a(href="#") !{item.country}
              td !{item.count}
    default
      if !data.popup
        a.plan-cell(href="#")&attributes(attributes)
          .plan-cell__group !{data.group}
          .plan-cell__group-name !{data.group_name}
          .plan-cell__time XX:00
      else
        a.plan-cell(href="javascript:;" data-fancybox data-src="#inf_1" data-base-class="fancybox--match" data-touch="false")&attributes(attributes)
          .plan-cell__group !{data.group}
          .plan-cell__group-name !{data.group_name}
          .plan-cell__time XX:00
        .d-none: +popup-match({score: '- : -'})#inf_1
    
