.plan-cell {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  width: 100%;
  //  max-width: 92px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;

  &:hover {
    color: #fff;
  }

  &__group {
    width: 14px;
    height: 14px;
    font-size: 8px;
    line-height: 15px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -.03em;
    color: $primary;
    background-color: #fff;
    border-radius: 50%;
  }

  &__head {
    display: flex;
    height: 17px;
    color: #fff;
  }

  &__time {
    margin-top: 2px;
    font-size: 8px;
    font-weight: 600;
    letter-spacing: -.03em;
  }

  &__logo {
    margin: 4px 9px;
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-size: 100% 100%;
    border-radius: 50%;
  }

  &__name,
  &__count {
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -.03em;
    text-transform: uppercase;
  }

  &__group-name {
    white-space: nowrap;
  }

  &__count {
    padding-top: 8px;
  }

  &__list {
    display: flex;
    width: 100%;
    align-items: center;

    table {
      width: 100%;

      td:last-child {
        text-align: right;
      }
    }
  }

  &--color-a {
    background-color: $blue;

    .plan-cell__group {
      color: $blue;
    }

    .plan-cell__head {
      background-color: $blue;
    }
  }

  &--color-b {
    background-color: $purple;

    .plan-cell__group {
      color: $purple;
    }

    .plan-cell__head {
      background-color: $purple;
    }
  }

  &--color-c {
    background-color: $secondary;

    .plan-cell__group {
      color: $secondary;
    }

    .plan-cell__head {
      background-color: $secondary;
    }
  }

  &--color-d {
    background-color: $green;

    .plan-cell__group {
      color: $green;
    }

    .plan-cell__head {
      background-color: $green;
    }
  }

  &--color-e {
    background-color: $pink;

    .plan-cell__group {
      color: $pink;
    }

    .plan-cell__head {
      background-color: $pink;
    }
  }

  &--color-f {
    background-color: $dark-purple;

    .plan-cell__group {
      color: $dark-purple;
    }

    .plan-cell__head {
      background-color: $dark-purple;
    }
  }

  &--result {
    padding-right: 0;
    padding-left: 0;
    display: block;
    background-color: transparent;

    .plan-cell__group {
      height: 17px;
      line-height: 17px;
      color: #fff;
      background-color: transparent;
      border-right: 1px solid $blue-light;
      border-radius: 0;
    }

    .plan-cell__time {
      height: 17px;
      flex-grow: 1;
      line-height: 17px;
      text-align: center;
    }
  }

  &--group {
    padding-right: 10px;
    width: auto;
    max-width: none;
    height: 102px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -.03em;
    color: #fff;

    .plan-cell__head {
      margin-right: 8px;
      display: flex;
      height: auto;
      align-items: center;

      @media screen and (max-width: 1499px) {
        margin-right: 5px;
      }
    }

    .plan-cell__group {
      width: 28px;
      height: auto;
      font-size: 24px;
      line-height: 40px;
      font-weight: 600;
      border: none;
    }

    a {
      margin-right: 20px;
      white-space: nowrap;
      color: inherit;
    }

    td {
      padding: 2px 0;
    }
  }
}
