.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 144px;
  height: 100vh;
  background-color: $primary;
  background-image: url(../img/pattern-blue.png);
  background-size: cover;

  @include media-breakpoint-down(lg) {
    position: sticky;
    top: 0;
    display: block;
    width: 100%;
    height: auto;
  }

  &__row {
    padding: 12px 12px 40px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding: 0;
      height: 64px;
      flex-direction: row;
    }
  }

  &__btn {
    margin-bottom: 34px;
    display: block;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;

    @include transition;

    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }

    &:before {
      margin-right: auto;
      margin-left: auto;
      display: block;
      content: '';
      background-repeat: no-repeat;
    }

    &:hover {
      opacity: .7;
    }

    &--menu {

      @include media-breakpoint-down(lg) {
        margin-right: 0;
        order: 3;
      }

      &:before {
        width: 28px;
        height: 20px;
        background-image: url(../img/burger.svg);
        background-position: center center;
      }

      &.is-active {

        &:before {
          background-image: url(../img/close.svg);
        }
      }

      span.is-active {
        font-size: 0;

        &:before {
          font-size: 12px;
          content: 'закрыть';
        }
      }
    }

    &--search {

      @include media-breakpoint-down(lg) {
        margin-right: 28px;
        margin-left: 28px;
      }

      &:before {
        width: 28px;
        height: 28px;
        background-image: url(../img/search.svg);
      }

      &.is-active {

        &:before {
          background-image: url(../img/close.svg);
          background-position: center center;
        }
      }

      span.is-active {
        font-size: 0;

        &:before {
          font-size: 12px;
          content: 'закрыть';
        }
      }
    }
  }

  &__logo {
    margin-bottom: 38px;

    @include media-breakpoint-down(lg) {
      margin-right: auto;
      margin-bottom: 0;
      order: -1;
    }
  }

  &__socials {
    margin-top: auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

    .social-link {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__lang {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(lg) {
      order: -1;
    }

    &:hover {
      opacity: .7;
      color: #fff;
    }
  }
}
