mixin header(data)
  header.header#header&attributes(attributes): .container-fluid.px-xl-0: .header__row
    a.header__logo(href="./")
      img.d-none.d-xl-block(src="./img/header-logo.png" srcset="./img/header-logo@2x.png 2x" alt="")
      img.d-xl-none(src="./img/header-logo-mob.svg" alt="")
    button.header__btn.header__btn--menu.js-menu-toggle(type="button")
      span.d-none.d-xl-block.pt-10 меню
    button.header__btn.header__btn--search.js-search-toggle(type="button")
      span.d-none.d-xl-block.pt-10 поиск
    .header__socials.d-none.d-xl-flex
      +social-link({icon: 'twitter.svg'})
      +social-link({icon: 'fb.svg'})
      +social-link({icon: 'vk.svg'})
      +social-link({icon: 'inst.svg'})
    a.header__lang(href="#") EN
    .d-none: +menu#menu
  .d-none: +search
