mixin stadiums(data)
  .stadiums&attributes(attributes)
    .d-none: +confetti
    for line, i in data.lines
      .stadiums__lines(class=`stadiums__lines--${line} stadiums__lines--${i+1}`)
    for item in data.items
      .stadiums__item(class=item.class)
        a(href="#").stadiums__link
          span.stadiums__img
            img(src=`./img/${item.img}` alt="")
          span.stadiums__name.p-md.font-weight-bold !{item.name}
        .stadiums__country.p-md !{item.country}
