.stadiums {
  position: relative;
  z-index: 3;
  margin: 0 -50px;
  padding: 0 0 140px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  @media only screen and (max-width: 1390px) {
    margin: 0;
  }

  @include media-breakpoint-down(lg) {
    margin: 0 -50px;
  }

  @media only screen and (max-width: 1024px) {
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 0 88px;
  }

  @include media-breakpoint-down(xs) {
    padding: 0 0 64px;
  }

  &:before {
    position: absolute;
    top: 390px;
    left: -24px;
    display: none;
    width: calc(100% + 48px);
    height: 16px;
    content: '';
    background: $green;

    @include media-breakpoint-down(sm) {
      top: 276px;
      display: block;
    }

    @include media-breakpoint-down(xs) {
      top: 212px;
    }
  }

  &:after {
    position: absolute;
    top: 1502px;
    left: -24px;
    display: none;
    width: calc(100% + 48px);
    height: 16px;
    content: '';
    background: $danger;

    @include media-breakpoint-down(sm) {
      top: 1110px;
      display: block;
    }

    @include media-breakpoint-down(xs) {
      top: 852px;
    }
  }

  &__img {
    position: relative;
    display: inline-block;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      content: '';
      background-image: url(../img/hover-st.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 80%;
      transition: .5s;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    @include media-breakpoint-down(md) {
      width: 152px;
    }

    @include media-breakpoint-down(xs) {
      width: 112px;
    }

    img {
      position: relative;
      z-index: 1;
      display: inline-block;
    }
  }

  &__item {
    margin: 0 50px 84px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 1390px) {
      margin: 0 0 84px;
    }

    @include media-breakpoint-down(lg) {
      margin: 0 50px 84px;
    }

    @media only screen and (max-width: 1024px) {
      margin: 0 0 84px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 0 64px;
      width: 33.33%;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 0 48px;
      width: 50%;
    }

    &:nth-last-of-type(-n + 3) {
      margin-bottom: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 64px;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 48px;
      }
    }

    &:nth-last-of-type(-n + 2) {

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }

    &--inactive {

      .stadiums__img {
        opacity: .2;
      }

      .stadiums__link:hover {

        .stadiums__name {
          color: #fff;
        }

        .confetti {
          opacity: 0 !important;
        }

        .stadiums__img:before {
          opacity: 0;
        }
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    text-align: center;

    &:hover {

      .stadiums__name {
        color: $secondary;
      }

      .confetti {
        opacity: 1;
        transition-delay: .1s;
      }

      .confetti__item {
        //        animation-iteration-count: infinite;
      }

      .stadiums__img:before {
        opacity: 1;
      }
    }
  }

  &__name {
    margin-top: 46px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    transition: all .3s ease;

    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 24px;
      font-size: 12px;
      white-space: nowrap;
    }
  }

  &__country {
    font-size: 18px;
    color: rgba(#ffffff, .5);

    @include media-breakpoint-down(xs) {
      font-size: 12px;
      line-height: 1;
    }

    &:hover {
      color: rgba(#ffffff, .5);
    }
  }

  &__lines {
    position: absolute;
    top: 0;
    left: 50px;
    display: block;
    width: calc(100% - 100px);
    height: 16px;

    @media only screen and (max-width: 1390px) {
      left: 0;
      width: 100%;
    }

    @include media-breakpoint-down(lg) {
      left: 50px;
      width: calc(100% - 100px);
    }

    @media only screen and (max-width: 1024px) {
      left: 0;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      left: -24px;
      width: calc(100% + 48px);
    }

    &--light-blue {
      background: linear-gradient(to right, lighten(#009cb4, 20%), #009cb4);
    }

    &--blue-light {
      background: linear-gradient(to left, lighten(#009cb4, 20%), #009cb4);
    }

    &--green {
      background: linear-gradient(to left, lighten(#99c462, 10%), #99c462);
    }

    &--1 {
      top: 112px;

      @include media-breakpoint-down(md) {
        top: 70px;
      }

      @include media-breakpoint-down(sm) {
        top: 70px;
      }

      @include media-breakpoint-down(xs) {
        top: 52px;
      }
    }

    &--2 {
      top: 410px;

      @include media-breakpoint-down(md) {
        top: 291px;
      }

      @include media-breakpoint-down(sm) {
        top: 480px;
      }

      @include media-breakpoint-down(xs) {
        top: 373px;
      }
    }

    &--3 {
      top: 708px;

      @include media-breakpoint-down(md) {
        top: 513px;
      }

      @include media-breakpoint-down(sm) {
        top: 686px;
      }

      @include media-breakpoint-down(xs) {
        top: 533px;
      }
    }

    &--4 {
      top: 1006px;

      @include media-breakpoint-down(md) {
        top: 733px;
      }

      @include media-breakpoint-down(sm) {
        top: 890px;
      }

      @include media-breakpoint-down(xs) {
        top: 693px;
      }
    }
  }

  &--full {
    margin-right: 0 !important;
    margin-left: 0 !important;

    @include media-breakpoint-down(md) {
      margin: 0;
    }

    &:after {
      top: 707px;
      left: 0;
      display: none;
      width: 100%;
      height: 16px;
      content: '';
      background: #efa941;

      @include media-breakpoint-down(lg) {
        display: block;
      }

      @include media-breakpoint-down(md) {
        top: 512px;
      }

      @include media-breakpoint-down(sm) {
        top: 686px;
        left: -24px;
        width: calc(100% + 48px);
      }

      @include media-breakpoint-down(xs) {
        top: 578px;
      }
    }

    .stadiums__item {
      margin-right: 0;
      margin-left: 0;
      width: 25%;

      @include media-breakpoint-down(lg) {
        width: 33.33%;
      }

      @include media-breakpoint-down(sm) {
        width: 50%;
      }
    }

    .stadiums__lines {
      left: 0;
      width: 100%;

      @include media-breakpoint-down(md) {
        left: 0;
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        left: -24px;
        width: calc(100% + 48px);
      }

      &--3 {

        @include media-breakpoint-down(lg) {
          top: 1006px;
        }

        @include media-breakpoint-down(md) {
          top: 733px;
        }

        @include media-breakpoint-down(sm) {
          top: 890px;
        }

        @include media-breakpoint-down(xs) {
          top: 750px;
        }
      }

      &--4 {
        display: none;

        @include media-breakpoint-down(sm) {
          top: 1110px;
          display: block;
        }

        @include media-breakpoint-down(xs) {
          top: 920px;
        }
      }
    }
  }
}
