mixin fest-map(data)
  //script(src='https://api-maps.yandex.ru/2.1/?apikey=954e75e3-0b09-49bd-a693-9c4ac7f98204&lang=ru_RU&onload=initWay&ver=5.2.4')
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC73zuO_a5fYqryk9yJu028b7LJ9VKACvM&callback=initMap')
  .fest-map&attributes(attributes)
    .fest-map__content#map
    a.fest-map__list-btn(href="#")
    .fest-map__zoom
      a.fest-map__zoom-plus(href="#")
      a.fest-map__zoom-minus(href="#")
