.fest-map {
  position: relative;
  height: 100vh;
  flex-grow: 1;

  @include media-breakpoint-down(sm) {
    position: absolute;
    height: calc(100% - 64px);
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__list-btn {
    display: none;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 48px;
      height: 48px;
      background: #fff url(../img/fest-list.svg) no-repeat center;
      border-radius: 50%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    }
  }

  &__zoom {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);

    @include media-breakpoint-down(sm) {
      top: auto;
      bottom: 24px;
      //      top: calc(100vh - 196px);
      transform: none;
    }
  }

  &__zoom-plus {
    margin-bottom: 12px;
    display: block;
    width: 48px;
    height: 48px;
    background: #fff url(../img/fest-plus.svg) no-repeat center;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  }

  &__zoom-minus {
    display: block;
    width: 48px;
    height: 48px;
    background: #fff url(../img/fest-minus.svg) no-repeat center;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
  }

  &--article {

    &:before {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(#000, .5);
      backdrop-filter: blur(3px);
    }
  }

  &--active {
    position: absolute;
    z-index: 4;
    top: 64px;
    left: 0;
    width: 100%;

    .fest-map__list-btn {
      z-index: 2;

      @include media-breakpoint-down(sm) {
        z-index: 2;
        display: block;
      }
    }
  }
}
