.event-list {
  margin-left: -4px;
  display: flex;
  overflow: hidden;
  width: calc(100% + 4px);
  flex-flow: row wrap;

  @include media-breakpoint-down(md) {
    margin-left: -2px;
    width: calc(100% + 2px);
  }

  @include media-breakpoint-down(xs) {
    margin-left: 0;
    width: 100%;
  }

  .event {
    position: relative;
    right: -1px;
    width: 25%;
    border-right: 1px solid $border-color;

    @include media-breakpoint-down(md) {
      width: 50%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      border: none;
    }
  }

  .event__text {

    @include media-breakpoint-down(lg) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }

  .event__type {

    @include media-breakpoint-down(lg) {
      left: 24px;
    }
  }
}
