mixin event-list(data)
  .event-list&attributes(attributes)
    +event({
      img: 'ev-1.jpg',
      title: 'Как создавали талисман и стиль чемпионата',
      type: 'Интервью'
    })
    +event({
      img: 'ev-2.jpg',
      title: 'евро 2020 <br>в вопросах <br>и ответах',
      type: 'Статья',
    }).event--purple
    +event({
      img: 'ev-3.jpg',
      title: 'Месси рассказал как готовиться к турниру',
      type: 'Интервью'
    })
    +event({
      img: 'ev-4.jpg',
      title: 'Наши соперники в отборочном цикле',
      type: 'Статья'
    }).event--purple
    +event({
      img: 'ev-2.jpg',
      title: 'евро 2020 <br>в вопросах <br>и ответах',
      type: 'Статья',
    }).event--purple
    +event({
      img: 'ev-3.jpg',
      title: 'Месси рассказал как готовиться к турниру',
      type: 'Интервью'
    })
    +event({
      img: 'ev-1.jpg',
      title: 'Как создавали талисман и стиль чемпионата',
      type: 'Интервью'
    })
    +event({
      img: 'ev-4.jpg',
      title: 'Наши соперники в отборочном цикле',
      type: 'Статья'
    }).event--purple
    +event({
      img: 'ev-3.jpg',
      title: 'Месси рассказал как готовиться к турниру',
      type: 'Интервью'
    })
    +event({
      img: 'ev-1.jpg',
      title: 'Как создавали талисман и стиль чемпионата',
      type: 'Интервью'
    })
    +event({
      img: 'ev-4.jpg',
      title: 'Наши соперники в отборочном цикле',
      type: 'Статья'
    }).event--purple
